
.orderCard{
    width: 90%;
    height: fit-content;
    padding: 1em 2%;
    border-radius: 1em;
    margin: 1.5em auto;
    font-family: var(--font-family);
    cursor: pointer;
    background-color: #fff;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.orderCard h3{
    font-family: var(--font-family);
    color: var(--primary-color);
    font-size: calc(.8rem + .3vw);
    font-weight: 600;
    margin: auto;
}

.download{
    display: flex;
    flex-direction: column;
}

.download p{
    font-family: var(--font-family);
    color: var(--primary-color);
    font-size: calc(.8rem + .3vw);
    font-weight: 600;
    margin: 0 auto;
}

.download_icon{
    width: 2em;
    height: 2em;
    margin: 0 auto;
    color: var(--primary-color);
}

.priceContainer{
    color: var(--forth-color);
    font-weight: 500;
    width: fit-content;
}
.priceContainerMob{
    display: none;
}
.swiper{
    position: relative;
    width: 96% !important;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 2em;
}

.card_container{
width: fit-content;
height: fit-content;
background: transparent;
font-family: var(--font-family);
}

.card_img{
position: relative;
width: fit-content;
height: 20em;
margin: 0 auto;
height: fit-content;
object-fit: contain;
margin-bottom: 3em;
}

.card_img img{
width: 95%;
object-fit: fill;
height: 15vw;
max-height: 12em;
}

.date{
    font-size: calc(.7rem + .3vw);
    color: var(--accent-color);
    font-weight: 500;
    margin-top: 0.5em;
}

.btnsCont{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap:  1em;
}


  @media screen and (max-width:600px) {
    .priceContainerMob{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: 0.5em auto;
        font-size: calc(.7rem + .3vw);
    }
    .titlesCont{
        width: 100%;
        justify-content: space-between;
    }
    .titlesCont h5{
        display: none;
    }
    .priceContainer{
        display: none;
    }
    .date{
        display: none;
    }
    .btnsCont{
        width: 100%;
        flex-wrap: wrap;
    }
    .btn{
        margin: auto;
    }
    .card_img{
        margin-bottom: 1.5em;
        }
        

        .download_icon{
            width: 1.5em;
            height: 1.5em;
        }
        .download h3{
            font-size: calc(.6rem + .5vw);
        }
.orderCard h3{
    font-size: calc(.6rem + .5vw);
}
  }