.headnav{
    position: relative;
    width: 100%;
    height: fit-content;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* padding: 0vh 0 10vh 0; */
    max-width: 1900px;
    top: 0;
    margin: 0 auto;
    background-color: #fff;
    z-index: 999;
    font-family: var(--font-family) !important;
    
}

.header{
    position: relative;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 88%;
    margin: auto;
}


.header_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #fff; */
    margin:0;
    width: 94%;
    padding: 0 3%;
    justify-self: top;
    background-color: var(--secondary-color);
}

.header_top_content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 2em;
    justify-content: flex-start;
}
.header_top_content1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 0.8em;
    justify-content: flex-start;
}

.header_top_content p{
    position: relative;
    text-decoration: none;
    font-size: calc(0.7rem + 0.3vw);
    color: #fff;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: normal;
    border-radius: 1em;
    margin:0.7em auto auto auto;
}

.header_top_content1 p{
    position: relative;
    text-decoration: none;
    font-size: calc(0.7rem + 0.3vw);
    color: #fff;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: normal;
    border-radius: 1em;
    margin:0.7em auto auto auto;
}

.logocontainer{
    width: fit-content;
    /* background-color: blue; */
    margin: 0.6em auto;
}


.logocontainer img{
    max-width: 12em;
    max-height: 4.5em;
    object-fit: contain;
    margin:0 auto;
}

.headercontent{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.topdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 3rem;
    padding: .5em 3%;
    width: 94%;
    background-color: var(--secondary-color);
}

.topdiv p{
    font-size: calc(0.6rem + 0.3vw);
    color: #fff;
}

.top_icon{
    font-size: 1.4em !important;
    color: #CEB495;
    background-color: #fff;
    border-radius: 50%;
    margin: auto 0;
    padding: .1em;
    display: flex;
}

.bottomdiv{
    width: 100%;
    padding: 1% 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    column-gap: 2rem;
}

.socials{
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: .8rem;
    width: fit-content;
    height: fit-content;
    text-align: center !important;
    align-items: center;
    margin: auto 0;
}

.options{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    align-items: center;
    justify-content: end;
    text-align: end;
    margin: auto 0;
}

.btn{
    border:1px solid transparent;
    border-radius: 0 40px 0px 40px;
   top: 0 !important;
    /* background: var(--primary-color); */
    background-color: var(--primary-color);
    color:#fff;
    padding: 15px 20px 5px 20px;
    width: 170px;
    font-size: calc(0.7rem + 0.3vw);
    text-align: center;
    transition: background-color 0.5s ease, color 1s ease;
}

.btn:hover{
    border:1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
}

.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    column-gap: 2rem;
    z-index: 999;
    background-color: var(--accent-color);
}
.fixednav_con{
    position: fixed;
    width: 100%;
    height: fit-content !important;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    max-width: 1900px;
    margin: 0 auto;
    z-index: 990;
    top: 0;
    padding: 5px 0;
    background-color: #fff;
}

.navbarscrolled{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 0 5%;
    column-gap: 2rem;
}

.nav{
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    height: fit-content;
    margin: 0 auto;
}

.nav1{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    height: fit-content;
    margin: 0 auto;
}

.navlinks{
    width:100%;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1em 0;
}

.navlinks p {
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: calc(0.6rem + 0.3vw);
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-transform: uppercase;
    white-space: nowrap;
    color:#fff;
    margin: 0;
  }

.navlinks p:hover {
    color: #fff;
    text-decoration: none;
  }
  
.navlinks p::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    margin-top: 5px;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .navlinks p:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.navlinks_before{
    width: 30%;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.navlinks_before p {
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: calc(0.7rem + 0.3vw);
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-transform: uppercase;
    margin: 0;
    color: #000;
  }

.navlinks_before p:hover {
    color: var(--primary-color);
    text-decoration: none;
  }
  
.navlinks_before p::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    margin-top: 5px;
    background-color: var(--primary-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    margin: 0;
  }
  
  .navlinks_before p:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.logo{
    width: 30%;
    height: fit-content;
    margin: auto;
}

.logo img{
    width: 70% !important;
    max-width: 12em;
    height: auto; 
    object-fit: contain;
}
.btns{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.none{
    display: none;
}

.cart{
    margin: auto 0;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.icon{
    color: var(--secondary-color);
}

.icon:hover{
    background-color: transparent;
    color: var(--primary-color) !important;
}

.rightsidenav{
    position: fixed;
    z-index: 99;
    right: 0%;
    top: 40%;
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
    z-index: 100;
}

.rightsidenavMobile{
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.leftsidenav{
    position: fixed;
    z-index: 99;
    left: 0%;
    top: 40%;
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
    z-index: 100;
}

.siderowright{
    /* background-color: blue; */
    width: 55px;
    height: 55px;
    margin: auto;
    padding: auto;
    background-color: var(--secondary-color);
    /* border-radius: 10px 0px 0px 10px; */
}


.siderowrightmobile{
    /* background-color: blue; */
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: auto;
    /* border-radius: 10px 0px 0px 10px; */
}

.siderow{
    /* background-color: blue; */
    width: 55px;
    height: 55px;
    margin: auto;
    padding: auto;
    background-color: var(--secondary-color);
    /* border-radius: 0 10px 10px 0px; */
}

.siderow:hover{
    background-color: var(--primary-color);
    opacity: 0.8;
    color: #fff;
}

.siderowright:hover{
    background-color: var(--primary-color);
    opacity: 0.8;
    color: #fff;
}

.mobilenav{
    position: fixed;
    width: 99%;
    display: none;
    flex-direction: column;
    row-gap: 0em;
    height: fit-content;
    padding: 2% 0%;
    z-index: 99;
    margin: 0 auto;
    background-color: #fff;
    top: 0;
}
.logomobile{
    width: fit-content;
    max-height: 2.5em;
    margin: 0;
    padding: 0.2em 0;
}

.logomobile img{
    width: 100%;
    height: 100%;
    margin: 0em auto 0 0 !important;
    object-fit: contain;
}

.navheight{
    display: none;
}


.search_con{
    width: 100%;
    margin: auto 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_con_mobile{
    width: 100%;
    margin: auto 0;
    padding: .3em 2%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .headnav{
        display: none;
    }
    .fixednav_con{
        display: none;
    }
    
.mobilenav{
    display: flex;
}
.logo img{
    width: 50%;
    height: 100%;
}

.siderowright{
    /* background-color: blue; */
    width: 45px;
    height: 45px;
}
.rightsidenav{
    top: 30%;
}
.navheight{
    position: relative;
    display: block;
}

.header_top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #fff; */
    margin:0;
    width: 94%;
    padding: 0 3% 0.3em 3%;
    justify-self: top;
    background-color: var(--secondary-color);
}
}

@media screen and (max-width:800px) {
    
}

@media screen and (max-width:650px) {
   
.logo img{
    width: 90%;
    height: 100%;
}
    
}
