.card{
    width: 80%;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 4%;
    color: var(--secondary-color);
    margin: 1% auto ;
    border-top: 1px solid var(--primary-color);
    padding-bottom: 4%;
}

.imageCont{
    margin: 0;
    width: 5em !important;
}
.imageCont img{
    width: 5em !important;
}

.card p{
    margin: 0.4em 0;
}

.quantity{
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: calc(.7rem + 0.3vw);
    font-family: var(--font-family);
}


.cardmobile{
    display: none;
    grid-template-columns: 30% 70%;
    color: var(--secondary-color);
    margin: 5% 0 0% 0;
    border: 1px solid #D3DADC;
    border-radius: 20px;
}

.quantitymobile{
    width: 100%;
    display: none;
    flex-direction: row;
    margin-top: 1em;
    justify-content: space-between;
}

.font_size{
    font-size: calc(0.6vw + 0.3rem);
}
.infoCont{
    width: 100%;
    display: flex;
}

.delete_btn{
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: var(--primary-color);
    color: #fff !important;
    transition: background-color 0.5s ease, color 1s ease;
    font-size: calc(.7rem + 0.3vw);
    border-radius: .5em;
    padding: 0.5em .6em;
    margin: auto 0 auto auto;
    cursor: pointer;
}

.delete_btn:hover{
    background-color: var(--secondary-color) !important;

}
.delete_btnMob{
    display: none;
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: var(--primary-color);
    color: #fff !important;
    transition: background-color 0.5s ease, color 1s ease;
    font-size: calc(.7rem + 0.3vw);
    border-radius: .5em;
    padding: 0.6em .6em;
    margin-left: auto;
}

.delete_btnMob:hover{
    background-color: var(--secondary-color) !important;

}
.dicription{
    width: 30em;
    overflow: hidden;
    height: 4.3em;
    color: var(--secondary-color);
    font-size: calc(.6rem + 0.2vw);
}
.dicription ,
.dicription p,
.dicription span,
.dicription h1,
.dicription h2,
.dicription h3,
.dicription h4,
.dicription h5,
.dicription h6,
.dicription div {
    color: var(--secondary-color) !important;
    font-size: calc(0.6rem + 0.2vw) !important;
    line-height: 1.5em !important;
    margin: 0 !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-family: var(--font-family) !important;
    background-color: transparent !important;
}
.price{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: large;
}
.totalPriceMob{
    display: none;
}
@media screen and (max-width: 1400px) {
    .dicription{
        width: 17em;
        color: var(--secondary-color);
        font-size: small;
    }
.font_size{
    font-size: calc(0.6vw + 0.4rem);
}
}


@media screen and ( max-width: 750px) {
    
      .quantity{
        display: none;
      }
      .card p{
        margin: 0.1em 0;
    }
    .totalPrice{
        display: none;
    }
    .font_size{
        font-size: calc(0.6vw + 0.6rem);
    }
    .quantitymobile{
        display: flex;
    }
    .infoCont{
        text-align: start !important;
        width: 96%;
        display: grid;
        grid-template-columns: 90% 10%;
    }
    
.totalPriceMob{
    display: inline;
    font-size: calc(1.2rem + .3vw);
}
    
}