.btn{
  width: 20%;
  border-radius:20px;
  background:var(--secondary-color);
  border:1px solid #f3f3f3;
  padding:1% 0;
  height:100%;
  margin-left:0;
  color:#fff;
  transition: background-color 0.5s ease, color 1s ease;
}

.btn:hover{
  background:var(--primary-color);
  color:#fff;
}

.out_of_stock{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
    background-color: rgba(194, 194, 194, 0.5);
  z-index: 9;
  cursor: auto;
}

.out_of_stock p {
    width: fit-content;
    height: fit-content;
    margin: auto 0 0.5em 1em;
    font-family: var(--font-family);
    font-size: calc(0.7rem + 0.3vw);
    text-align: center;
    justify-self: center;
    align-self: flex-end;
    text-transform: capitalize;
    color: var(--red-color);
    padding: 0.2em 0.8em;
    border-radius: 20px;
    background-color: #FEE2E2;
}
.custom_select{
  height: 2.5em !important;
  padding: 0 !important;
  width: 80% !important;
  display: flex;
  flex-direction: row;
  border-radius: 0.5em;
  border:2px solid transparent !important;
  margin: auto 0!important;
}

.customIcon {
  font-size: 24px; 
  color: var(--secondary-color);
  margin: 0 0.2em;/* Adjust the size as needed */
}
.input{
  width: 100% !important;
  height: 2.8em !important;
  background-color: #EAF3FF;
  /* padding: 0 0% 0 4% !important; */
  border: none !important;
  border-color: transparent !important;
  color: var(--dark-color);
}
.input::placeholder{
  color: #A3A3A3 !important;
}
  .input:focus{
    outline: none;
    background-color: #EAF3FF !important;
  }

  .focus{
    color: #fff;
  }

  .focus:focus{
    outline:none !important;
    border: none;
    background: transparent;
    color: #fff;
  }

.custom_select select:focus{
  outline:none ;
  border: none;
}

.custom_select select::after{
  background-color: var(--secondary-color);
  text-align: start;
}

.custom_select option::after{
 background-color: var(--primary-color);
}

.custom_select_mob{
  width: 100%;
  margin-top: .5em;
  display: none;
}
.container {
  width: 100%;
}

.dropdown_data{
  width: 94%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 60% 40%;
  justify-content: space-between;
}

.list {
  overflow-x: hidden;
  overflow-y: scroll;
  
  direction: rtl; /* Right-to-left layout */
  unicode-bidi: bidi-override; /* Ensures text alignment stays correct */
}

.list * {
  direction: ltr; /* Resets content direction to normal */
}
.list,
.contantContainer {
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE and Edge */
}
.list::-webkit-scrollbar,
.contantContainer::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari, Opera */
}
.dropdown1 {
  position: absolute; /* Adjust the distance between the input and the dropdown */
  left:  0;
  top: 4.4em;
  z-index: 1000;
  background-color: #fff;
  border: none;
  border-radius: 0;
  width: 100%; /* Set the dropdown width to inherit from its parent */
  height: 75vh;
  overflow: hidden;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

.dropdown_card{
  width: 96%;
  display: grid;
  grid-template-columns: 18% 80%;
  justify-content: space-between;
  cursor: pointer;
}


.dropdown_card_img{
  display: flex;
  margin: auto;
  width: 100%;
  height: 11.5em;
  background-color: #f3f3f3;
}

.dropdown_card_img img{
  width: 70%;
  height: 80%;
  margin: auto;
  object-fit: contain;
}

.dropdown_card_content{
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
}
.dropdown_card_content p{
  width: 98%;
  margin: .3em 0;
  font-size: small;
  white-space: normal; /* Allow text to wrap */
  overflow: hidden;    /* Hide any overflow text */
  display: -webkit-box; /* Use the webkit box model for multi-line ellipsis */
  -webkit-box-orient: vertical; /* Set the box orientation to vertical */
  -webkit-line-clamp: 2; /* Limit the text to 3 lines */
  line-clamp: 2; 
}


.close_web{
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
  align-items: center;
  color: var(--dark-color);
  cursor: pointer;
}
.close_mob{
  display: none;
  font-size: 2em;
  flex-direction: row;
  column-gap: 0.5em;
  align-items: center;
  color: var(--secondary-color);
  cursor: pointer;
}

.list {
  max-height: 73vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 0.5em;
  
  direction: rtl; /* Right-to-left layout */
  unicode-bidi: bidi-override; /* Ensures text alignment stays correct */
}

.list * {
  direction: ltr; /* Resets content direction to normal */
}

.contantContainer{
  width: 94%;
  padding: 0% 3%;
  height: 100%;
  max-height: 73vh;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: var(--font-family);
  font-style: normal;
  font-size: calc(0.8rem + 0.3vw);
  text-align: start;
  align-items: flex-start;
  gap: 0.2em;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 5% 0;
  border-left: 1px solid #D9D9D9;
}

.detail_img{
  width: 40%;
  margin: 0 auto 1em 0;
  display: flex;
  background-color: #f3f3f3;
  position: relative;
}

.detail_img img{
    width: 80%;
    height: 80%;
    margin: auto;
    object-fit: contain;
    border-radius: 0.5em;
}
.header{
    font-weight: 700;
    font-size: large;
    line-height: 100%;
    color: var(--dark-color);
    margin: 0 0 0.2em 0;
}


.header_small{
    font-weight: 600;
    font-size: medium;
    line-height: 100%;
    color: var(--dark-color);
    margin: 0 0 0.2em 0;
  white-space: normal; /* Allow text to wrap */
  overflow: hidden;    /* Hide any overflow text */
  display: -webkit-box; /* Use the webkit box model for multi-line ellipsis */
  -webkit-box-orient: vertical; /* Set the box orientation to vertical */
  -webkit-line-clamp: 1; /* Limit the text to 3 lines */
  line-clamp: 1; 
}

.discountBtn{
    width: fit-content;
    height: fit-content;
    padding: 0.5em 0.9em;
    border-radius: 0.2em;
    background-color: #0085B0;  
    color: #fff;
    border: none;
    margin: 0 0 0 3em;
}

.rate{
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    font-size: calc(0.7rem + 0.2vw);
}

.ratingMob{
    display: none;
}

.bottonsContainer {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 0;
    justify-content: flex-start;
}
.bottonsContainer img{
    justify-self: flex-end;
    margin: 0 0 0 auto;
}
.add_to_cart{
    display: flex;
    width: fit-content;
    height: 2.5em;
    padding: 0.5em 1.5em;
    justify-content: center;
    color: #fff;
    background-color: var(--secondary-color);
    font-family: var(--font-family);
    transition: background-color 0.5s ease, color 0.5s ease;
    border: none;
    border-radius: 0.5em;
    align-items: center;
    white-space: nowrap;
    font-size: large;
    cursor: pointer;
    font-weight: 500;
    font-size: calc(0.6rem + 0.3vw);
  }
  
  .add_to_cart_icon{
    font-size: 1.5em;
  margin: auto .4em auto 0;
  color: #fff;
  transition: color 0.5s ease;
  cursor: pointer;
  }
  
  .add_to_cart:hover{
    background-color: #fff;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
  
    .add_to_cart_icon{
      color: var(--secondary-color);
    }
  }
.subscribeBtn{
    width: 35%;
    height: fit-content;
    padding: 0.7em 0;
    border-radius: .5em;
    background-color: var(--primary-color);  
    color: #DED8CC;
    border: none;
    font-size: calc(0.7rem + 0.3vw);
    cursor: pointer;
    transition: background-color .6s ease, color 1s ease;
}
.subscribeBtn:hover{
    background-color: var(--forth-color);
}
.desc{
  margin: .0em 0 .3em 0; 
  font-size: medium;
    white-space: normal; 
    overflow: hidden;    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    line-clamp: 3;
}
.favoriteBtn{
    width: 2.5em;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    border-radius: 50%;  
    color: var(--secondary-color);
    background-color:  #fff;
    cursor: pointer;
    margin: auto 0 auto 1em;
    border: 2px solid var(--secondary-color);
    font-size: calc(0.6rem + 0.3vw);
}

.fav{
    display: none;
}

.payment{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
    padding-top: 3em;
    /* gap: 5%; */
}

.paymentImg{
    width: 25%;
    height: auto;
    object-fit: cover;
    position: relative;
}

.selectInput{
    width: 45%;
    height: fit-content;
    background-color: var(--primary-color);
}
.partager{
    font-weight: 900;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    font-size: calc(1.3rem + 0.2vw);
}

.mobViewTab{
    display: none;
}
.paymentsMethods{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.paymentsMethodsMob{ 
    position: relative;
    width: fit-content !important;
    height: fit-content;
    margin: 0 auto;
    display: none;
    flex-direction: row;
    margin-top: 1em;
    gap: 0.5em;
} 
.inputt{
    display: flex;
    width: 12%;
}
.QuanContainer{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 0em 0 2em 0;
    border-bottom: 2px solid #D9D9D9;
    padding-bottom: 2em;
}

.QuanContainer p{
    font-size: large;
    margin: auto 0;
    color: var(--dark-color);
}

.result{
    font-size: large;
    margin: 1em 0;
    justify-self: flex-end;
    margin-left: 2em;
    font-weight: 600;
    color: var(--dark-color);
} 
.descriptif{
    font-size: medium;
    color: var(--dark-color) !important;
    margin-bottom: 5%;
    margin-top:0.2em;
    white-space: normal; 
    overflow: hidden;    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7; 
    line-clamp: 7;
}
@media screen and (max-width: 950px) {
  .dropdown_card_content{
  width: 90%;
}
  .dropdown_card_content h3{
    font-size: small;
  }
  .contantContainer{
    display: none;
  }
  .dropdown_data{
    grid-template-columns: 1fr;
    width: 100%;
  }

  .dropdown1{
    top: 3.3em;
  }
.dropdown_card{
  grid-template-columns: 25% 73%;
}
  .custom_select{
    width: 88vw !important;
    margin: 0;
  }
  .input{
    width: 100%;
  }
.dropdown_card_img{
  height: 9em;
  object-fit: fill;
}

.close_mob{
  display: flex;
}
.close_web{
  display: none;
}
.result{
  margin-left: 1em;
}

.out_of_stock{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(194, 194, 194, 0.5);
  z-index: 9;
  cursor: auto;
}
}

