.bigContainer {
  position: relative;
  width: 100%;
  height: fit-content;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0 0 3% 0;
  max-width: 1900px;
  margin: 0 auto;
}


.header{
  display: flex;
  flex-direction: column;
  margin: 3em 0;
}

.header h1{
  position: relative;
  font-size: calc(1.5rem + 0.9vw);
  color: var(--secondary-color);
  font-family: var(--font-family);
  font-weight: 700;
  line-height: normal;
  margin:0 auto;
}

.header p{
  width: 100%;
  position: relative;
  font-size: calc(1.2rem + 0.7vw);
  color: var(--secondary-color);
  font-family: var(--font-family);
  font-weight: 500;
  line-height: normal;
  margin: 0.5em auto;
}

.nodata{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  margin: 5em auto;
}

.nodata_img{
  width: 15em;
  height: 15em;
}

.nodata_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nodata h1{
  font-family: var(--font-family);
  color: var(--accent-color);
  text-align: center;
}


.heroImage{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0 0 2em 2em;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
}


.imageContent{
  position: absolute;
  bottom: 0;
  width: fit-content;
  right: 50%;
  transform: translateX(50%);
  background-color: var(--accent-color);
  color: #fff;
  font-family: var(--font-family);
  font-style: normal;
  padding: 1em 2em; 
  font-size: calc(1rem + 0.4vw);
  border-radius: 2em 2em 0 0;
  text-align: center;
}

.imageContent h2{
  font-weight: 500;
}

.data {
  position: relative;
  width: 88%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 22%);
  margin-top: 3em;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.logo_con {
  position: relative;
  font-size: calc(.9rem + .3vw);
  width: 16vw;
  max-width:em;
  height: 16vw;
  max-height: 17em; 
  background-image: url(../../../assets/servicesBG.png);
  background-repeat: no-repeat; 
  background-size: contain;
  background-position: center;
  margin: 3em auto 0 auto;
  border-radius: 50%;
  object-fit: contain;
}

.content{
  width: 95%;
  height: 95%;
  margin: auto;
  margin-top: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  clip-path: polygon(50% 0%, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.content p {
  position: absolute;
  width: 75%;
  bottom: 2em;
  margin: 0 auto;
  text-align: center;
  font-size: calc(1rem + 0.6vw);
  font-family: var(--font-family);
  color:#fff;
}

.btn_mobile {
  display: none;
  width: fit-content;
  height: fit-content;
  padding: 1.5em 5em;
  margin: auto;
  color: #fff;
  background-color: var(--forth-color);
  transition: background-color 0.5s ease, color 1s ease;
  border: none;
  border-radius: 1em;
}
.btn{
  width: 3em !important;
  height: 3em;
  border-radius:.5em;
  background:var(--primary-color);
  border:none;
  color:#fff;
  margin: auto;
  cursor: pointer;
  transition: background-color 0.5s ease, color 1s ease;
}

.btn:hover{
  background:var(--primary-color);
  color:var(--secondary-color);
}

.input{
  border: none !important;
  height: 100% !important;
}

  .input:focus{
    outline: none;
  }

  .page_control{
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5em 0;
    border-top: 2px solid var(--secondary-color);
    margin: 2em auto 3em auto;
  }
  
  .show p{
    font-family: var(--font-family);
    color: var(--secondary-color);
    margin: auto 0;
    font-weight: 500;
  }
  
  .control{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
  }
  
  .control button{
    background-color: #fff;
    color: var(--secondary-color);
    width: 3em;
    height: 3em;
    border: none;
    border-radius: .5em;
    cursor: pointer;
  }
  
  .icon1{
    color: var(--secondary-color);
    width: 1.5em;
    height: 1.5em;
    margin: auto !important;
    font-weight: 700;
  }
  
  .nb{
    font-family: var(--font-family);
    font-style: normal;
    color: var(--secondary-color);
    background-color: #fff !important;
    font-weight: 700;
  }
  .ellipsis{
    margin: auto auto 0.5em auto;
  }
  
.selectednb{
  background-color: var(--primary-color) !important;
  color: #fff;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .page_control{
    margin: 2em auto 0 auto;
  }
  .data {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2em 1em;
  }
  .heroContainer{
    margin-top: 0;
  }

  
  .btn{
    display: inline;
    margin-right: 1em;
  }
  .showFilter{
    display: none;
  }
  .booksgridview{
    grid-template-columns: repeat(3, 32%);
  }

  .booksrowview{
    padding: 5% 0 0% 0;
  }
 
  .showingnumber{
    display: none;
  }

  .controlbtns{
    margin: 5em 8em 0 auto;
  }
  
.list_resume{
  display: none;
}

.list_resume_mob{
  display: flex;
}

}
@media screen and (max-width: 750px) {
  .imageContent {
    width: fit-content; 
    left: 0;
    right: 0;
    margin: auto;
    transform: none; 
  }
  .logo_con {
    position: relative;
    font-size: calc(.9rem + .3vw);
    width: 9em;
    height: 9em;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: contain;
  }
}

@media screen and (max-width: 450px) {
  .logo_con {
    position: relative;
    font-size: calc(.9rem + .3vw);
    width: 9em;
    height: 9em;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: contain;
  }
  .icon1{
    color: var(--secondary-color);
    width: 1em;
    height: 1em;
  }
  .control button{
    width: 2.5em;
    height: 2.5em;
    padding: 0em;
  }
}

@media screen and (max-width:650px) {
  .header{
    flex-direction: column;
    gap: 2em;
    border: none;
  }
  .btn{
    display: inline;
    margin-right: auto;
    margin-left: 2em;
  }
  .show{
    display: none;
  }

  .control{
    width: fit-content;
    margin: 0 auto;
    gap: .5em;
  }
  
}