.events_detail{
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    height: fit-content;
    padding-bottom: 13em;
}
.events_detail_image_con{
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    margin: 3em 0;
  }
  .contentContainer{
    position: relative;
    width: 80%;
    height: fit-content;
    margin: auto;
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-style: normal;
    text-align: start;
  }

  .contentContainer h1{
    font-size: calc(2rem + 0.5vw);
    font-weight: 700;
    width: 100%;
    text-align: start;
  }
  .contentContainer h3{
    font-size: calc(1.4rem + 0.4vw);
    font-weight: 600;
    width: 100%;
    text-align: start;
  }
.events_detail_image{
    position: relative;
    width: 90%;
    height: auto;
    max-height: 30em;
    border-radius: 1em;
    object-fit: cover;
  }
.details_box{
    width: 100%;
    height: fit-content;
    cursor: auto;
    padding: 0em 0;
    background-color: #7F9BC9;
    color: #fff;
    border: none;
    border-radius: .5em;
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.detail_item{
    display: flex;
    flex-direction: column;
    row-gap: 0em;
}

.detail_item p{
    font-family: var(--font-family);
    font-size: calc(0.8rem + 0.4vw);
    text-align: center;
    color: #fff;
    font-weight: 500;
}
.iconss{
    margin: auto .3em -.1em auto;
    align-self: center;
    margin-bottom: -.1em;
}
.priceBtn{
    width: fit-content;
    height: fit-content;
    border: none;
    font-family: var(--font-family);
    font-size: calc(0.7rem + 0.4vw);
    text-align: center;
    color: #fff;
    font-weight: 500;
    border-radius: .5em;
    padding: .5em 2em;
    background-color: var(--primary-color);
    margin: 2em 0;
    cursor: auto;
    transition: background-color 0.5s ease, color 1s ease;
}
.priceBtn p{margin: 0;}

.imagesCont{
    width: 80%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.card_imgimg {
    width: 50%;
    border-radius: 1em;
    height: 15vw !important;
    max-height: 16em;
    object-fit: cover !important;
  }
  
  .card_imgimg:nth-child(1) {
    z-index: 1;
  }
  
  .card_imgimg:nth-child(2) {
    z-index: 2;
    margin-left: 27%;
    margin-top: calc(max(-6vw, -5em));  /* Ensure margin is not greater than -9em */
  }
  
  .card_imgimg:nth-child(3) {
    z-index: 3;
    margin-left: 54%;
    margin-top: calc(max(-6vw, -5em)); /* Ensure margin is not greater than -9em */
  }
.contentss{
    width: 88%;
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
    font-family: var(--font-family) !important;
}  
.contentss h2{
    font-size: calc(1.7rem + 0.4vw);
    font-weight: 600;
    width: 90%;
    text-align: start;
}
.contentss p{
    font-size: calc(.7rem + 0.3vw);
    font-weight: 600;
    width: 90%;
    line-height: 150%;
    text-align: start;
}
.contactBtn{
    width: fit-content;
    height: fit-content;
    border: none;
    font-family: var(--font-family);
    font-size: calc(0.7rem + 0.3vw);
    text-align: center;
    color: #fff;
    font-weight: 500;
    border-radius: .5em;
    padding: 0.5em 3em;
    background-color: var(--primary-color);
    margin: 2em 0;
    cursor: pointer;
    transition: background-color 0.5s ease, color 1s ease;
}
.contactBtn:hover{
    background-color:var(--secondary-color) ;
}
.map_con{
    padding: 2em 0;
    width: 88%;
    height: 30vw;
    max-height: 33em;
    margin: 0 auto;
    border-radius: 1em !important;
}

@media screen and (max-width:950px) {
    .events_detail{
        padding-bottom: 0em;
    }
    .events_detail_image_con{
        display: flex;
        margin: 1em 0;
      }
    
.events_detail_image{
    position: relative;
    width: 80%;
    height: auto;
    max-height: 30em;
    border-radius: 1em;
    object-fit: cover;
    margin: auto;
  }
  .card_imgimg {
    width: 38vw;
    border-radius: .5em;
    height: 30vw !important;
    max-height: 160em;
    object-fit: cover !important;
  }  
  .card_imgimg:nth-child(2) {
    margin-left: 27%;
    margin-top: -13vw;  /* Ensure margin is not greater than -9em */
  }
  
  .card_imgimg:nth-child(3) {
    margin-left: 54%;
    margin-top: -13vw; /* Ensure margin is not greater than -9em */
  }
  .contentss h2{
    width: 100%;
}
.contentss p{
    width: 100%;
}
.map_con{
    padding: 2em 0;
    width: 88%;
    height: 80vw;
    max-height: 33em;
    margin: 0 auto;
    border-radius: 1em !important;
} 
}



@media screen and (max-width:750px) {
    .events_detail_image{
        width: 90%;
      }
      .contentContainer{
        width: 90%;
      }
      .imagesCont{
        width: 90%;
    }
  }