
.AccountDetailsContainer{
    width: 80%;
    margin: 0 auto;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

.backgroungIMG{
    width: 100%;
    height: fit-content;
    position: absolute;
    left: 0;
    bottom: 0;
}

.header{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
}

.headtitle{
    position: relative;
    width: fit-content;
    height: fit-content;
    font-family: var(--font-family);
    font-size: calc(0.9rem + 0.3vw);
    letter-spacing: 0.01rem;
    text-align: center;
    color: #fff;
    margin: 0em auto 0 auto;
  }
  
.image_con{
  width: 8em;
  height: 8em;
  border-radius: 50%;
  margin: 0em auto 2em auto;
}


.hover{
  position: absolute;
  transition: all 0.6s ease-in-out;
  background: linear-gradient(132deg, #000 0.00%, #1F91CF 100.00%);
  width: 8em;
  opacity: 0;
  height: 8em;
  border-radius: 50%;
  cursor: pointer;
}

.hover:hover{
  opacity: 0.9;
}

.emailContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.emailInput{
  border: 1px solid #555555;
  border-radius: .5em;
  width: 48.5%;
  margin-left: 22%;
}

.googleImg{
  height: 3em;
  margin-left: 2em;
}
.googleImgMob{
  display: none;
  width: fit-content;
  margin: 0 auto;
  height: 3em;
}

.inputsContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 31%);
  justify-content: space-between;
}
.btnsContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  margin: 2em auto;
  justify-content: center;
}

.saveBtn{
  width: 35vh;
  max-width: 35em;
    border: none;
    padding: .5em 4em;
    background-color: var(--primary-color);
    color: #fff !important;
    transition: all 0.5s ease, color 1s ease;
    font-size: calc(.7rem + 0.3vw);
    border-radius: .7em;
    border: 2px solid transparent;
}

.saveBtn:hover{
    color: var(--primary-color) !important;
    border: 2px solid var(--primary-color) !important;
}


.passBtn{
  width: 35vh;
  max-width: 35em;
  border: none;
  padding: .5em 4em;
  background-color: var(--secondary-color);
  color: #fff !important;
  transition: background-color 0.5s ease, color 1s ease;
  font-size: calc(.7rem + 0.3vw);
  border-radius: .7em;
  border: 2px solid transparent;
}

.passBtn:hover{
  color: var(--secondary-color) !important;
  border: 2px solid var(--secondary-color) !important;
}

.passBtnmob{
  display: none;
  width: 35vh;
  max-width: 35em;
  border: none;
  padding: .5em 4em;
  background-color: var(--secondary-color);
  color: #fff !important;
  transition: background-color 0.5s ease, color 1s ease;
  font-size: calc(.7rem + 0.3vw);
  border-radius: .7em;
  border: 2px solid transparent;
}

.cancel{
  width: 35vh;
  max-width: 35em;
  border: none;
  padding: .5em 4em;
  background-color: transparent;
  color: #fff !important;
  transition: background-color 0.5s ease, color 1s ease;
  font-size: calc(.7rem + 0.3vw);
  border-radius: .7em;
  border: 2px solid #fff;
}

.cancel:hover{
  color: var(--secondary-color) !important;
  border: 2px solid var(--secondary-color) !important;
}


.cancelmob{
  width: 35vh;
  max-width: 35em;
  border: none;
  display: none;
  padding: .5em 4em;
  background-color: transparent;
  color: #fff !important;
  transition: background-color 0.5s ease, color 1s ease;
  font-size: calc(.7rem + 0.3vw);
  border-radius: .7em;
  border: 2px solid #fff;
}

@media screen and (max-width: 950px) {
  .AccountDetailsContainer {
    margin-bottom: 0;
  }
  
  .emailContainer {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }

  .saveBtn {
    width: 100%;
  }

  .passBtn {
    width: 100%;
    display: none;
  }

  .passBtnmob{
    width: 100%;
    display: flex;
  }

  .cancel {
    width: 100%;
    display: none;
  }
  .cancelmob {
    width: 100%;
    display: flex;
  }
  
  .emailInput {
    margin-top: 1em;
    width: 100%;
    margin-left: 0;
  }
  
  .googleImg {
    display: none;
  }
  
  .googleImgMob {
    display: inline;
  }
  
  .inputsContainer {
    display: flex;
    flex-direction: column;
  }
  
  .btnsContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

