.card{
    display: grid;
    grid-template-columns: 8% 27% 15% 20% 15% 15%;
    color: var(--secondary-color);
    margin: 0em 0;
    padding: 2em 2em;
    font-family: var(--font-family);
    font-size: calc(0.7em + 0.3vw);
}     
.out_of_stock{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(194, 194, 194, 0.5);
  z-index: 9;
  cursor: auto;
  cursor: pointer;
}

.out_of_stock p {
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-family: var(--font-family);
  font-size: calc(0.4rem + 0.2vw);
  text-align: center;
  justify-self: center;
  align-self: center;
  color: #fff;
  padding: 0.2em 0.8em;
  border-radius: 5px;
  background-color: var(--primary-color);
}
.removed_item{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  display: flex;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  
  z-index: 19;
  cursor: auto;
}

.removed_item p {
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-family: var(--font-family);
  font-size: calc(0.9rem + 0.2vw);
  text-align: center;
  justify-self: center;
  align-self: center;
  font-weight: 700;
  color: rgb(255, 66, 66);
}
.imgCont{
    position: relative;
    overflow: hidden;
    width: 97%;
   margin: auto 0.5em auto 0;
    height: 9vw ;
    max-height: 9em;
}
.imgCont img{
   width: 100%;
   height: 100%;
   object-fit: fill;
}
.contentContainer{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    padding-left: .5em ;
    margin: auto 0;
}

.price{
    margin: auto;
    font-size: calc(.9rem + .3vw);
    color: var(--secondary-color);
    font-weight: 500;
}
.priceMob{
    margin: auto;
    color: var(--secondary-color);
    font-weight: 500;
    display: none;
}


.quantity{
    z-index: 9;
    width: 50%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    margin: auto;
    border-radius: .5em;
    padding: 2% 0;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color) !important;
}
.addtocart{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: auto 0 auto auto;
}

.addtocart button{
    width: 3em;
    height: 3em;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: .5em;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease, color 1s ease;
    }
    
    .addtocart button:hover{
        background-color: var(--secondary-color) !important;
    }
    .totalPrice{
        font-size: calc(.9rem + 0.3vw);
        font-weight: 600;
        color: var(--secondary-color);
        margin: auto;
    }

    @media screen and (max-width:950px) {
        
    .totalPrice{
        font-size: calc(.9rem + 0.3vw);
        font-weight: 600;
        color: var(--primary-color);
        margin: auto auto auto .0;
    }
        .card{
            display: flex;
            flex-wrap: wrap;
            row-gap: 2em;
        padding: 2em 1em;
        }
        .imgCont{
           width: 30%;
            height: 35vw !important;
            max-height: 100em;
         }
         .contentContainer{
            width: 60%;
            margin: 0;
        }
        .price{
            display: none;
        }
        .priceMob{
            display: inline;
            margin: auto auto auto 0;
        }
        .quantity{
            z-index: 9;
            width: 7em;
            display: grid;
            grid-template-columns: 30% 40% 30%;
            margin: auto;
            border-radius: .5em;
            padding: 1% 0;
            margin: auto 0 auto 0;
            border: 1px solid var(--secondary-color);
            color: var(--secondary-color) !important;
            text-align: center !important;
        }
        
.out_of_stock p {
    font-size: calc(0.6rem + 0.2vw);
    padding: 0.2em 0.8em;
  }
    }