.bigContainer {
  position: relative;
  width: 100%;
  height: fit-content;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0 0 3% 0;
  max-width: 1900px;
  margin: 0 auto;
  background-color: #fff;
}

.detailsContainer{
  position: relative;
  width: 88%;
  height: fit-content;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
}

.header{
  display: flex;
  flex-direction: column;
}

.header h1{
  position: relative;
  font-size: calc(1.2rem + 0.7vw);
  color: var(--secondary-color);
  font-family: var(--font-family);
  font-weight: 700;
  line-height: normal;
  margin:0 auto;
}

.header p{
  width: 60%;
  position: relative;
  font-size: calc(0.7rem + 0.3vw);
  color: var(--secondary-color);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: normal;
  margin: 1em auto;
}

.content{
  width: 95%;
  height: 95%;
  margin: auto;
  margin-top: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  clip-path: polygon(50% 0%, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
}

.content img {
  width: 100% !important;
  height: 100% !important;
  object-fit: fill;
}
.nodata{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  margin: 1em auto;
}

.nodata_img{
  width: 15em;
  height: 15em;
}

.nodata_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nodata h1{
  font-family: var(--font-family);
  color: var(--accent-color);
  text-align: center;
}

.data {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 5em 3em;
}

.input{
  border: none !important;
  height: 100% !important;
}

  .input:focus{
    outline: none;
  }

  .page_control{
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5em 0;
    border-top: 2px solid var(--secondary-color);
    margin: 2em auto 3em auto;
  }
  
  .show p{
    font-family: var(--font-family);
    color: var(--secondary-color);
    margin: auto 0;
    font-weight: 500;
  }
  
  .control{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
  }
  
  .control button{
    background-color: #fff;
    color: var(--secondary-color);
    width: 3em;
    height: 3em;
    border: none;
    border-radius: .5em;
    cursor: pointer;
  }
  
  .icon1{
    color: var(--secondary-color);
    width: 1.5em;
    height: 1.5em;
    margin: auto !important;
    font-weight: 700;
  }
  
  .nb{
    font-family: var(--font-family);
    font-style: normal;
    color: var(--secondary-color);
    background-color: #fff !important;
    font-weight: 700;
  }
  .ellipsis{
    margin: auto auto 0.5em auto;
  }
  
.selectednb{
  background-color: var(--primary-color) !important;
  color: #fff;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
}

.booksgridview{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  margin: 0 auto;
  justify-content: space-between;
}
.card_container{
  width: 100%;
  height: fit-content;
  background: transparent;
  font-family: var(--font-family);
  font-size: calc(0.9rem + 0.2vw);
  letter-spacing: 0.01rem;
  border-radius: 0 0 1.2em 0;
  transition: all 0.3s ease-in-out;
  margin-top: 3em;
}

.card_img{
  position: relative;
  width: 90%;
  margin: 0 auto;
  border-radius: 1em;
  /* overflow: hidden; */
  padding: 10% 0 0% 0;
  height: 22vw;
  max-height: 22em;
}

.img{
  object-fit: fill !important;
  height: 100%;
  width: 100%;
  border-radius: 1em;
}


.buttoncart{
    font-family: var(--font-family);
  position: relative;
  width: fit-content;
  margin: 0 auto;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: calc(0.7rem + 0.3vw);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
}

.buttoncart:hover {
cursor: pointer;
transform: scale(1.1);
color: var(--secondary-color);
}


.card_content{
  width: 100%;
  left: 0;
  text-align: center;
  row-gap: 1vh;
  font-size: calc(0.7rem + 0.2vw);
  /* padding-bottom: 5%; */
}
.card_content1{
position: relative;
width: 80%;
background-color: #DDE4E6;
padding: 2% 0% 0% 0% ;
border-radius: 5px;
left: 0;
text-align: center;
row-gap: 1vh;
font-size: calc(0.7rem + 0.2vw);
/* padding-bottom: 5%; */
}

.testt{
position: absolute;
height: 2.4em;
width: 2.4em;
top: 13%;
right: -14%;
border-radius: 50%;
border: 2px white solid;
background-color: #A8ACAD;
}

.bookTitle{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--font-family);
  font-size: calc(0.7rem + 0.3vw);
  font-weight: 800;
  letter-spacing: 0.01rem;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

.bookTitle p{
  margin: 0.5em 0;
}
.navigations{
  display: flex;
}

.favoriteIcon{
  position: absolute;
  height: 1em;
  width: 1em;
  top: 2.2em;
  right: 0.7em;
  background-color: var(--primary-color);
  padding: 0.5em;
  border-radius: 50%;
}

.fav{
  width: 1.2em !important;
  height: 1.2em !important;
  margin: auto !important;
  margin-left: -0.07em !important;
  margin-top: -0.05em !important;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.fav:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.nonfav{
  width: 1.2em !important;
  height: 1.2em !important;
  margin: auto !important;
  margin-left: -0.07em !important;
  margin-top: -0.05em !important;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.nonfav:hover{
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}
.cardContainer{
  position: relative;
  width: 100%;
  margin: 2em auto 5em auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 37% 59%;
  gap: 4%;
  font-size: calc(0.8rem + 0.3vw);
}

.card{
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: start;
  font-family: var(--font-family);
  color: var(--accent-color);
  justify-content: center;
}

.card h1{
  font-family: var(--font-family);
  font-size: calc(1.4rem + 0.8vw);
  letter-spacing: 0.01rem;
  font-weight: 700;
  text-align: start;
  margin: 0 auto;
  padding: 0.5em 0;
  width: 100%;
  color: var(--secondary-color);
}

.card p{
  position: relative;
  font-size: calc(0.7rem + 0.3vw);
  color: var(--secondary-color);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: normal;
  margin: 1em auto;
}

.colabImage {
  position: relative;
  font-size: calc(.9rem + .3vw);
  width: 18vw;
  max-width:18em;
  height: 18vw;
  max-height: 19em; 
  background-image: url(../../../assets/servicesBG.png);
  background-repeat: no-repeat; 
  background-size: contain;
  background-position: center;
  margin: 3em auto 0 auto;
  border-radius: 50%;
  object-fit: contain;
}


@media screen and (max-width: 1124px) {
  .title h1 {
    font-family: Lato;
    font-size: calc(1.6rem + 0.8vw);
    letter-spacing: 0.01rem;
    text-align: start;
    margin: auto;
    padding: 0.4em 0;
    padding-left: 1.5em;
    width: 100%;
    color: #fff;
    }

}

@media screen and (max-width: 950px) {
  .page_control{
    margin: 2em auto 0 auto;
  }
  .booksgridview{
    grid-template-columns: repeat(3, auto);
    row-gap: .5%;
  }
  .card_container{
    margin-top: 2em;
  }
  .icon_con{
    width: 1.5em !important;
  height: 1.5em !important;
  }
  .icon {
  width: 1em;
  height: 1em;
  margin: 0.2em;
  }

  .header p{
    width: 88%;
}
.card_img{
  height: 35vw;
}

 
  .title{
    margin: auto;
    /* background-size: cover; */
    background-position: center;
    margin-bottom: 1em;
  }

  .title h1{
    padding-left: 0em;
    text-align: center;
  }

  .line{
    display: none;
  }
  
  .data {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2em 1em;
  }
  .heroContainer{
    margin-top: 0;
  }

  
  .btn{
    display: inline;
    margin-right: 1em;
  }
  .showFilter{
    display: none;
  }
  .booksgridview{
    grid-template-columns: repeat(3, auto);
  }

  .booksrowview{
    padding: 5% 0 0% 0;
  }
 
  .showingnumber{
    display: none;
  }

  .controlbtns{
    margin: 5em 8em 0 auto;
  }
  
.list_resume{
  display: none;
}

.list_resume_mob{
  display: flex;
}
.favoriteIcon{
  top: 1.5em;
}

}
@media screen and (max-width: 750px) {
  .imageContent {
    width: fit-content; 
    left: 0;
    right: 0;
    margin: auto;
    transform: none; 
  }
  .logo_con {
    position: relative;
    font-size: calc(.9rem + .3vw);
    width: 9em;
    height: 9em;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: contain;
  }
  .cardContainer{
    grid-template-columns: 1fr;
    margin: 0 auto 5em auto;
  }
 
.colabImage{
  width: 50vw !important;
  height: 50vw !important; 
}

.card_container{
  margin-top: 1em;
}
}

@media screen and (max-width: 450px) {
  .logo_con {
    position: relative;
    font-size: calc(.9rem + .3vw);
    width: 9em;
    height: 9em;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: contain;
  }
  
  .icon1{
    color: var(--secondary-color);
    width: 1em;
    height: 1em;
  }
  .control button{
    width: 2.5em;
    height: 2.5em;
    padding: 0em;
  }
}

@media screen and (max-width:650px) {

  .btn{
    display: inline;
    margin-right: auto;
    margin-left: 2em;
  }
  .show{
    display: none;
  }

  .card_img{
    height: 50vw;
  }
  .control{
    width: fit-content;
    margin: 0 auto;
    gap: .5em;
  }
  .booksgridview{
    grid-template-columns: repeat(2, auto);
  }
  .page_control{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5em 0;
    border-top: 2px solid var(--accent-color);
  }
}