.bookDetails{
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    /* padding: 1% 0 0 0; */
}


.heroContainer{
    position: relative;
    width: 100%;
    height: 20em;
    padding: 0;
    margin: 0;
    margin-top: -1.7em;
    margin-bottom: 3em;
    z-index: -1;
  }

  
  .heroImage{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0 0 2em 2em;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
  }


  .imageContent{
    position: absolute;
    bottom: 0;
    width: fit-content;
    right: 50%;
    transform: translateX(50%);
    background-color: var(--accent-color);
    color: #fff;
    font-family: var(--font-family);
    font-style: normal;
    padding: 1em 2em; 
    font-size: calc(1rem + 0.4vw);
    border-radius: 2em 2em 0 0;
    text-align: center;
  }

  .imageContent h2{
    font-weight: 500;
  }


.title{
    position: relative;
    width: 100%;
    color: var(--gray-900, #1E212C);
    text-align: start;
    font-family: Lato;
    font-size: calc(1.6rem + 0.4vw);
    font-style: normal;
    font-weight: 900;
    line-height: 130%; 
}

.bigContainer{
    position: relative;
    width: 88%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 3% 0;
    /* background-color: red; */
}

.bookCoversContainer{
    position: relative;
    width: 100%;
    gap: 1em;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.bookCovers{
    position: relative;
    width: 10vh;
    height: fit-content;
    border-radius: 1em;
}
.bookCoverimg{ 
    width: 100%;
    height: 8vw;
    max-height: 8em;
    border-radius: 0.5em;
    object-fit: contain;
    border: 3px solid  #fff;
    cursor: pointer;
}
.bookCoverSelectedimg{ 
    width: 100%;
    height: 8vw;
    max-height: 8em;
    border-radius: 0.5em;
    object-fit: cover;
    border: 3px solid  #fff;
    border: 3px solid var(--primary-color);
}
.booksContainer{
    position: relative;
    width: 49%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}
.swiper{
    position: relative;
    width: 100%;
    display: flex;
    height: fit-content;
    flex-direction: column;
}   
.out_of_stock{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(194, 194, 194, 0.5);
  z-index: 9;
  cursor: auto;
}

.out_of_stock p {
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-family: var(--font-family);
  font-size: calc(0.9rem + 0.3vw);
  text-align: center;
  justify-self: center;
  align-self: center;
  color: #fff;
  padding: 0.2em 0.8em;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.imageContainer{
    position: relative;
    width: 80%;
    /* padding: 5% 0; */
    height: auto;
    overflow: hidden;
    cursor:zoom-in;
    background-color: transparent;
    border-radius: 1em;
}

.imageContainer img{
    width: 100%;
    height: 32vw;
    max-height: 32em;
    object-fit: contain;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.imageContainer:hover img{
  transform: scale(1.5);
}

.arrowDesktop{
  display: flex ;
  position: relative;
}
.iconCont{
  width: 2em;
  height: 2em;
  color: var(--forth-color);
  border-radius: 50%;
  text-align: center;
  margin-left: 1em;
}

.auth_con{
  width: 98%;
  background-color: #EEBA7F;
  padding: 0.8em 1em !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  margin: 1em 0;
}

.auth_con p{
  position: relative;
  font-size: calc(0.9rem + 0.3vw);
  color: var(--secondary-color);
  font-family: var(--font-family);
  font-weight: 700;
  line-height: normal;
  margin: 0em;
}
.socialsCont{
  width: fit-content;
  display: flex;
  flex-direction: row;
}
.socialsContMob{
  display: none;
}
@media screen and (max-width:950px) {
    
    .bigContainer{
        display: flex;
        flex-direction: column;
    }
    .booksContainer{
        position: relative;
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    
    }
    .bookCoversContainer{
        width: fit-content;
        flex-direction: row;
        order: 1;
        margin: 0.5em auto;
    }
    .bookCovers{
      width: 10vw;
  }
    .imageContainer{
        width: 100%;
    }
    .imageContainer img{
      height: 100%;
      width: 100%;
      margin: 0 auto;
      object-fit: cover !important;
      /* margin-left: -2em; */
    }
    
    .socialsContMob{
      width: fit-content;
      display: flex;
      flex-direction: row;
      width: 100%;
      margin:0 ;
    }
    .socialsCont{
      display: none;
    }
    .auth_con{
      order: 2;
    }
    .auth_con p{
      font-size: calc(0.8rem + 0.3vw);
    }
  }
  @media screen and (max-width:750px) {
    .bookDetails{
        width: 100%;
        margin-top: 5em;
    }
    .booksContainer{
        width: 100%;
    
    }

     
    .auth_con p{
      font-size: calc(0.6rem + 0.3vw);
    }
    .imageContainer{
        width: 100%;
    }

    .imageContainer img{
      object-fit: contain;
    }

    .imageContent {
        width: fit-content; 
        left: 0;
        right: 0;
        margin: auto;
        transform: none; 
      }
      
    .bookCovers{
      width: 20vw;
  }
  
.bookCoverimg{ 
  width: 100%;
  height: 30vw;
  border-radius: 0.5em;
  object-fit: cover;
}
.bookCoverSelectedimg{ 
  width: 100%;
  height: 30vw;
  border-radius: 0.5em;
  object-fit: cover;
}
  }

  @media screen and (min-width:1450px) {
    .imageContainer img{
      height: 45em;
    }
    
  }
  @media screen and (max-width:550px) {
    
    .auth_con{
      margin: 0;
      padding: 0.5em 0;
      width: 92%;
    }
    .socialsContMob{
      display: flex;
      /* flex-direction: column !important; */
      margin:0.5em auto 0 auto;
    }
  }