.ordertrack_con{
    width: 100%;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.header{
  position: relative;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.headtitle{
  position: relative;
  width: fit-content;
  height: fit-content;
  font-family: var(--font-family);
  font-size: calc(.8rem + 0.3vw);
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin: auto;
}

.btnsContainer{
  width: fit-content;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.hexagon {
  overflow: visible;
  position: relative;
  width: 5em !important; /* Adjust width */
  height: 8.66em; /* Adjust height */
  background-color: var(--secondary-color);
  margin: 1em 3em; /* 50% of height */
  border-radius: 1em /.5em;
  cursor: pointer;
  transition: background-color 0.5s ease, color 1s ease;
  rotate: 90deg;
  font-family: var(--font-family);
  color: #fff;
  font-weight: 500;
}
.hexagon:hover {
  background-color: var(--primary-color);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  background: inherit;
 /*  width: inherit;*/
  border-radius: 1em /.5em; 
}

.hexagon:before {
  width: 5em;
  transform: rotate(60deg);
}

.hexagon::after {
  width: 5em;
  transform: rotate(-60deg);
}


.headerss{
  width: 90%;
  height: fit-content;
  padding: 1.5em 0;
  border-radius: 1em;
  margin: 1.5em auto;
  font-family: var(--font-family);
  cursor: pointer;
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 15% 25% 20% 20% 20%;
}
.headerss h3{
  font-family: var(--font-family);
  color: #fff;
  font-size: calc(.8rem + .3vw);
  font-weight: 600;
  margin: auto;
}
.header1{
  position: relative;
  width: 100%;
  justify-content: space-between;
  text-align: start;
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 1em 0;
  border-radius: 1em;
  margin: 1em 0;
}


.selectCont{
  position: relative;
  width: fit-content;
}

.selectt{
  width: 20em;
}
.btn{
  font-family: var(--font-family);
  font-weight: 500;
  border: none;
  background-color: var(--primary-color);
  border-radius: .5em;
  padding: .6em 2em;
  font-size: calc(.7rem + .3vw);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s ease, color 1s ease;
}
.btn:hover{
  background-color: var(--secondary-color);
}

.deliveredBtn{
  border: none;
  background-color: var(--primary-color);
  border-radius: .5em;
  padding: .5em 2em;
  font-size: calc(.7rem + .3vw);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s ease, color 1s ease;
}
.deliveredBtn:hover{
  background-color: var(--secondary-color);
}

.deliveredMob{
  display: none;
}
.reviewbtn{
  border: none;
  background-color: var(--secondary-color);
  border-radius: .5em;
  padding: .5em 2em;
  font-size: calc(.7rem + .3vw);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s ease, color 1s ease;
  margin-right: 2em;
}
.reviewbtn:hover{
  background-color: var(--primary-color);
}

.detailsCard{
  width: 80%;
 margin: auto;

}
.detailsContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
}


.total_con{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
}

.total{
  width: 100%;
  margin: 0 auto;
}

.totalrows{
  display: grid;
  width: 90%;
  grid-template-columns: 40% 20% 20% 20%;
  text-align: center;
  color: #fff;
  background-color: var(--primary-color);
  margin: 1em 0;
  padding: 1em 5%;
  border-radius: .5em;
  font-family: var(--font-family) ;
  font-weight: 500;
  font-size: calc(.8rem + 0.3vw);
  text-transform: uppercase;
}
.totalrows p{
  margin: 0;
}
.orderActivityCont{
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #fff;
  color: var(--primary-color);
  margin: 1em auto;
  padding: 1em 5%;
  border-radius: .5em;
  font-family: var(--font-family) ;
  font-weight: 500;
  font-size: calc(.8rem + 0.3vw);
}
.orderActivityCont h2{
  font-family: var(--font-family) ;
  font-weight: 700;
  font-size: calc(.9rem + 0.3vw);
  text-align: start;
}
.orderActivityCont p{
  font-family: var(--font-family) ;
  font-weight: 600;
  font-size: calc(.7rem + 0.3vw);
  text-align: start;
}
.card{
  width: 90%;
  position: relative;
  height: fit-content;
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  justify-content: space-between;
  margin: 0em 0 1em 0;
  color: #fff;
  padding: 1em 5% 2em 5%;
  border-bottom: 1px solid #fff;
}
.cardCont{
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cardCont::-webkit-scrollbar {
  width: .3em !important; /* Change the width as needed */
}

.dicription{
  width: 100%;
  overflow: hidden;
  height: 3em;
  color: #fff;
  font-size: calc(.6rem + 0.2vw);
}
.dicription ,
.dicription p,
.dicription span,
.dicription h1,
.dicription h2,
.dicription h3,
.dicription h4,
.dicription h5,
.dicription h6,
.dicription div {
  color: #fff !important;
  font-size: calc(0.6rem + 0.2vw) !important;
  line-height: 1.5em !important;
  margin: .3em 0 0 0 !important;
  font-weight: 600 !important;
  font-style: normal !important;
  font-family: var(--font-family) !important;
  background-color: transparent !important;
}

.imageCont{
  position: relative;
  width: 30%;
  max-width: 5em;
  max-height: 7em;
}

.card p{
  margin: 0;
}

.quantity{
  position: relative;
  width: 100%;
  height: fit-content;
  margin: auto !important;
  font-size: calc(.7rem + 0.3vw);
  font-family: var(--font-family);
  font-weight: 600;
  text-align: center;
}
.addrCont{
  width: 90%;
  background-color: #fff;
  color: var(--primary-color);
  margin: 1em auto;
  padding: 1em 5% 2em 5%;
  border-radius: .5em;
  font-family: var(--font-family) ;
  font-weight: 500;
  display: grid;
  grid-template-columns: 31% 3.5% 31% 3.5% 31%;
  text-align: start;
}

.orderStep{
  position: relative;
  width: 100%;
  text-align: start;
  padding:0 0 0 1em;
  margin-top: .3em;
  height: fit-content;
  min-height: 6em;
  font-family: var(--font-family);
}
.stepdot{
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  top: -.7em;
  left: 0;
  /* border-bottom:.5em solid #fff; */
  /* border-top:.5em solid #fff ; */
}
.adressCard{
display: flex;
flex-direction: column;
}
.adressCard h2{
font-family: var(--font-family);
font-weight:600 ;
font-size: calc(.9rem + .2vw);
color: var(--primary-color);
}
.adressCard p{
  font-family: var(--font-family);
  font-weight:500 ;
  font-size: calc(.8rem + .2vw);
  color: var(--secondary-color);
  margin: 0;
}
.back{
  color: var(--secondary-color);
  font-size: calc(1rem + .3vw);
  margin: -1em 0 0 -10%;
  cursor: pointer;
  font-family: var(--font-family);
  width: 100%;
  text-align: start;
  font-weight: 500;
}
.quantityMob{
  display: none;
}
.MobLineTime{
  display: none;
}
@media screen and (max-width:1250px) {
  .hexagon {
    width: 3em !important; /* Adjust width */
    height: 5.19em; /* Adjust height */
    margin: 1em 1.5em; /* 50% of height */
    border-radius: .6em /.4em;
  }
  .hexagon:before,
  .hexagon:after {
    border-radius: .6em /.4em; 
  }
  .hexagon:before {
    width: 3em;
  }
  
  .hexagon::after {
    width: 3em;
  }
  .hexagon p{
    font-size: calc(.5rem + .2vw);
  }
  
}
@media screen and (max-width:1050px) {
  .addrCont{
    width: 90%;
  }
}
@media screen and (max-width:950px) {
  .detailsCard{
  width: 90%;
  margin: 0 auto;

}
.back{
  color: var(--secondary-color);
  font-size: calc(1rem + .3vw);
  margin: -1em 0 1em 0;
  cursor: pointer;
  font-family: var(--font-family);
  width: 100%;
  text-align: start;
  font-weight: 500;
}
}
@media screen and (max-width:750px) {
  .detailsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .headerss{
    display: none;
  }
  .total_con{
    width: 100%;
  }
  .orderActivityCont{
    width: 90%;
    margin-bottom: 2em;
  }
  .adressCard{
    margin-top: 1em;
    width: 100%;
    }
  .header1{
    position: relative;
    width: 100%;
    justify-content: space-between;
    text-align: start;
    display: flex;
    flex-direction: row;
    margin: 1em 0 2em 0;
  }
  .addrCont{
    margin: 1em auto;
    padding: 1em 5% 2em 5%;
    border-radius: .5em;
    font-family: var(--font-family) ;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr;
    text-align: start;
  }
  .card{
    width: 90%;
    position: relative;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    margin: 0em 0 1em 0;
    color: #fff;
    padding: 1em 5% 2em 5%;
    border-bottom: 1px solid #fff;
  }
  .displayNoneMob{
    display: none !important;
  }
  .MobLineTime{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1em auto -3em auto;
  }
  
.stepdot{
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  top: -.7em;
  left: -.7em;
  /* border-bottom:.5em solid #fff; */
  /* border-top:.5em solid #fff ; */
}
  .quantity{
    display: none !important;
  }
  .quantityMob{
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .quantityMob p{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: calc(.7rem + .3vw);
    margin: .5em 0 0 0;
  }
}
@media screen and (max-width:600px) {
  
  .header{
    gap: 0em;
    flex-direction: column;
  }
  .selectt{
    width: 100%;
  }
  .deliveredBtn{
    display: none;
  }
  
  .deliveredMob{
    display: flex;
    width: fit-content;
    margin: 1em auto;
  }
}
@media screen and (max-width:350px) {
  .hexagon {
    margin: 1em 1em; /* 50% of height */
  }
}