.rev_con{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
    margin: 5em auto 0 auto;

}

.reviewsCon{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
   font-family: var(--font-family);
 }

.big_con{
   width: 100%;
   height: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.input_box{
    position: sticky;
    top: 20%;
    border-radius: 1em;
}

.input_box_content{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    height: fit-content;
    padding-top: 3em;
    border-radius: 1em;
}

.rev_input_head{
    display: flex;
    flex-direction: column;
    width: 88%;
    margin: 0 auto;
}

.rev_input_head h1{
    position: relative;
    font-size: calc(1.2rem + 0.7vw);
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: 700;
    line-height: normal;
    margin:0 ;
    text-align: start;
}

.rev_input_head p{
    position: relative;
    font-size: calc(0.7rem + 0.3vw);
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: 400;
    line-height: normal;
    margin: 2em 0 0 0;
    text-align: start;
}
.reviews_con {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: opacity 0.3s ease;
    font-family: var(--font-family) !important;
    border: none;
    border-radius: 1em;
    font-size: calc(.7rem + .3vw);
    color: var(--secondary-color);
    text-align: start;
    margin-bottom: 2em;
}

.image_con{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin: 0.3em 1em;
}

.image_con img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 0 ;
    margin-top: 2em;
    width: 96%;
}
.form p{
    position: relative;
    font-size: calc(0.7rem + 0.3vw);
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: 400;
    line-height: normal;
    margin: 1em 0 0 0;
    text-align: start;
}

.addbtn{
    position: relative;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 0.8em 3em;
    color: #fff;
    font-size: calc(.7rem + .3vw);
    cursor: pointer;
    transition: background-color .6s ease, color 1s ease;
    margin: 2em auto 0 auto;
}
.addbtn:hover{
    background-color: var(--secondary-color) !important;
    color: #fff !important;
}

.submit_con{
    width:88%;
    display: flex;
    flex-direction: row;
    justify-content:space-between
}

.cancelbtn{
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 1px solid #D6DADD;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 35px;
    color: #666666;
    margin: 3% 2%;
}

.addreview_con{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    margin-top: 20px;
    margin: 3% 0%;
}

.textarea{
    width: 100%;
    height: 200px;
    border: 1px solid #D6DADD;
    border-radius: 5px;
    font-size: 14px;
    padding: 1%;
}

.textarea:focus{
    outline:none !important ;   /* Removes the blue outline */
}


.reviewsCon h1{
    position: relative;
    font-size: calc(1.2rem + 0.7vw);
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: 700;
    line-height: normal;
    margin:0 0 1em 0;
    text-align: start;
}


@media screen and (max-width:950px) {
    .rev_con{
        grid-template-columns: 1fr;
        margin: 3em auto 0em auto;
    }
    .input_box{
        position: relative;
        top: 0;
        order: 2;
        width: 100%;
    }

    .form{
        width: 100%;
    }

    .reviewsCon{
        margin-bottom: 0;
    }

    .reviewsCon h1{
        text-align: center;
        margin: 0 auto 1em auto;
    }

    .addbtn{
        margin: 2em auto 0 auto;
        justify-self: center;
        align-self: center;
    }

    .submit_con{
        width: 100%;
        justify-content: center;
    }
}