.container{
    position: relative;
    height: 100%!important;
    text-align: center;
    width: 20em !important;
    background-color: var(--secondary-color);
    /* margin: 7em 0 auto 0; */
    padding: 1em 0;
    overflow-y: scroll;
}

.text{
    color: #fff;
    text-align: start;
    margin-left: 1em;
    width: fit-content;
    line-height: 0;
    font-family: Lato;
    font-weight: 600;
    text-transform: uppercase;
}

.text1{
    color: #fff;
    text-align: start;
    margin-left: 2em;
    width: fit-content;
    line-height: 0;
    font-family: Lato;
    font-weight: 300;
}

.mobile_nav_fixed{
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding: 1em 2em; */
    background-color: var(--secondary-color);
}

.mobile_nav_fixed img{
    width: 50% !important;
    margin-left: 1.5em;
}

.mob_icon{
    width: 2.2em;
    height: 2.2em;
    margin: auto 0;
}

.close_icon{
    position: absolute;
    left: 2em;
    top: 2em;
    width: 1.7em;
    height: 1.7em;
    background-color: transparent;
    border-radius: 8px;

}