.container {
    width: 100%;
    padding: 3em 1em;
    background-color: rgba(127, 155, 201, 0.15);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 35em;
    margin:  auto;
  }
  
  .header {
    font-size: calc(1.2rem + 0.6vw);
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--secondary-color);
    font-family: var(--font-family);
    text-transform: uppercase;
  }
  
  .rating {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
    font-family: var(--font-family);
    font-weight: 700;
  }
  
  .subtext {
    font-size: 1rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    font-family: var(--font-family);
    margin-top: 1em;
  }
  
  .bars {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--font-family);
  }
  
  .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    width: 100%;
    font-family: var(--font-family);
  }
  
  .bar span {
    font-size: 0.875rem;
    color: var(--primary-color) ;
    font-family: var(--font-family);
  }
  
  .bar .MuiLinearProgress-root {
    flex: 5;
    height: 10px;
    margin: 0 0.5rem;
    border-radius: 5px;
    font-family: var(--font-family);
  }
  
  .bar .barFill {
    background-color: var(--authbg-color) !important;
    color: var(--primary-color) !important;
    font-family: var(--font-family);
    width: 60% !important;
  }
  
  .bar span:last-child {
    flex: 0.5;
  }
  
@media screen and (max-width:950px) {
  .container{
    max-width: 94%;
    padding: 2em 3%;
  }
  
  .bars {
    width: 88%;
  }
}

@media screen and (max-width:650px) {
  .container{
    max-width: 94%;
    padding: 1em 3%;
  }
}
