.review_con{
    width: 100%;
    position: relative;
    height: fit-content;
    display: grid;
    grid-template-columns: 48% 48%;
    max-width: 1900px;
    margin: 0 auto 5em auto;
    row-gap: 3em;
    column-gap: 4%;
}

.content{
    width: 90%;
    padding: .3em 5%;
    background-color: #fff;
    border-radius: .3em;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: calc(0.7rem + 0.3vw);
}
.titleMob{
  display: none;
}
.imgContainer{
  height: 13em;
  width: 8em;
  text-align: start;
  margin: 1em 1em 1em 0 ;
}
.imgContainerh3{
  width: 100%;
  text-align: start;
  font-size: calc(.7rem + .2vw);
  color: var(--secondary-color);
  font-family: var(--font-family);
  margin: 0.2em 0;
  font-weight: 600;
}
.btn_con{
    width: fit-content;
    height: fit-content;
    /* padding: 0 0 3em 0; */
    max-width: 60%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn_con button{
  width: fit-content;
  border: none;
  background-color: var(--primary-color);
  border-radius: .1em;
  padding: .5em 1em;
  font-size: calc(.7rem + .3vw);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s ease, color 1s ease;
  margin-top: 2em;
}
.btn_con button:hover{
  background-color: var(--secondary-color);
}

.textArea{
  width: 100%;
}
.textAreaMob{
  width: 100%;
  display: none;
}

.radioContainer{
  display: flex;
  flex-direction: row !important;
}

.addbtn{
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border: none;
  font-weight: 400;
  border-radius: .5em;
  padding: .7em 2em;
  color: #fff;
  font-size: calc(.7rem + .3vw);
  font-family: var(--font-family) !important;
  cursor: pointer;
  transition: background-color .6s ease, color 1s ease;
}
.addbtn:hover{
  background-color: var(--secondary-color) !important;
}

@media screen and (max-width:950px) {
  .review_con{
    grid-template-columns: 100%;
    margin: 0 auto 5em auto;
    row-gap: 1em;
    column-gap: 4%;
}
}

@media screen and (max-width:650px) {
  
}
@media screen and (max-width:500px) {
  
}