.swiper_con{
    position: relative;
    width: 100% !important;
    height: 100%;
    margin: 5em auto;
    max-width: 1900px;
  }
  .swiper {
      height: 100%;
      width: 88% !important;
      margin: 0 auto;
    }
    
    .swiper_slide {
      text-align: center;
      display: flex !important;
      width: auto ;
      border-radius: 3em;
      flex-direction: column !important;
      column-gap: .5em;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 0.5em 0em;
      
    }
    
    .iconCont {
      max-width: 13em;
      max-height: 13em;
      width: 12vw;
      height: 12vw;
      display: flex;
      clip-path: polygon(87.39659881591797% 25.487600326538086%, 89.15474700927734% 26.817455291748047%, 90.81843566894531% 28.263704299926758%, 92.37749481201172% 29.822153091430664%, 93.82242584228516% 31.48694610595703%, 95.14429473876953% 33.25102615356445%, 96.3350830078125% 35.10609817504883%, 97.38780975341797% 37.0428581237793%, 98.29639434814453% 39.051273345947266%, 99.05595397949219% 41.12065505981445%, 99.66250610351562% 43.23993682861328%, 100.11302947998047% 45.39778137207031%, 100.40534973144531% 47.58269119262695%, 100.53810119628906% 49.78306579589844%, 100.51065063476562% 51.98727035522461%, 100.32317352294922% 54.18365478515625%, 99.97654724121094% 56.36060333251953%, 99.47244262695312% 58.506568908691406%, 98.81339263916016% 60.61012268066406%, 98.00296783447266% 62.660125732421875%, 97.04560089111328% 64.64575958251953%, 95.94686126708984% 66.55679321289062%, 94.71327209472656% 68.38371276855469%, 93.3524169921875% 70.11791229248047%, 91.87287139892578% 71.75202941894531%, 90.28382110595703% 73.27991485595703%, 88.59510803222656% 74.69688415527344%, 87.39733123779297% 76.30175018310547%, 87.40321350097656% 78.50660705566406%, 87.40132904052734% 80.71147155761719%, 87.40121459960938% 82.91626739501953%, 87.41411590576172% 85.12100219726562%, 87.13117218017578% 87.19275665283203%, 84.94355773925781% 87.4053955078125%, 82.73916625976562% 87.39129638671875%, 80.53436279296875% 87.38668823242188%, 78.32951354980469% 87.38089752197266%, 76.12464904785156% 87.38089752197266%, 74.61327362060547% 88.77436065673828%, 73.18231964111328% 90.45126342773438%, 71.64160919189453% 92.02790069580078%, 69.99580383300781% 93.49444580078125%, 68.25116729736328% 94.84188842773438%, 66.41504669189453% 96.06173706054688%, 64.49604034423828% 97.14649200439453%, 62.50358200073242% 98.08954620361328%, 60.44789123535156% 98.88542938232422%, 58.339717864990234% 99.52954864501953%, 56.190250396728516% 100.01849365234375%, 54.01089859008789% 100.34964752197266%, 51.81321334838867% 100.52131652832031%, 49.60886764526367% 100.53264617919922%, 47.4095458984375% 100.38355255126953%, 45.22690200805664% 100.07473754882812%, 43.07258605957031% 99.60769653320312%, 40.958038330078125% 98.9848403930664%, 38.89455032348633% 98.20941162109375%, 36.89308547973633% 97.28561401367188%, 34.9641227722168% 96.21868133544922%, 33.117462158203125% 95.01488494873047%, 31.362062454223633% 93.68152618408203%, 29.705842971801758% 92.22677612304688%, 28.155494689941406% 90.65965270996094%, 26.716360092163086% 88.98977661132812%, 25.255422592163086% 87.46688079833984%, 23.053071975708008% 87.36939239501953%, 20.848276138305664% 87.36865234375%, 18.64354133605957% 87.39246368408203%, 16.438873291015625% 87.37352752685547%, 14.237868309020996% 87.24906158447266%, 13.755431175231934% 85.36895751953125%, 13.756244659423828% 83.16424560546875%, 13.759265899658203% 80.95951080322266%, 13.75446605682373% 78.7546615600586%, 13.762834548950195% 76.54981994628906%, 12.819981575012207% 74.8068618774414%, 11.108597755432129% 73.41719818115234%, 9.486024856567383% 71.92484283447266%, 7.963072299957275% 70.33104705810547%, 6.553353786468506% 68.63629150390625%, 5.270598888397217% 66.84361267089844%, 4.127652645111084% 64.95877075195312%, 3.135375738143921% 62.99044418334961%, 2.301992654800415% 60.949771881103516%, 1.6319478750228882% 58.84978485107422%, 1.1260833740234375% 56.704280853271484%, 0.7814441919326782% 54.527015686035156%, 0.5920705795288086% 52.33073425292969%, 0.5497277975082397% 50.12666702270508%, 0.6491260528564453% 47.9244384765625%, 0.8973811268806458% 45.73405075073242%, 1.3023014068603516% 43.56719970703125%, 1.869097352027893% 41.43699645996094%, 2.5997841358184814% 39.35732650756836%, 3.492588996887207% 37.341922760009766%, 4.541979789733887% 35.4034538269043%, 5.7389912605285645% 33.55245590209961%, 7.071986675262451% 31.79680061340332%, 8.52779769897461% 30.14150047302246%, 10.092554092407227% 28.588701248168945%, 11.752685546875% 27.13821029663086%, 13.472681045532227% 25.75870132446289%, 13.712499618530273% 23.668739318847656%, 13.712499618530273% 21.46387481689453%, 13.712499618530273% 19.259010314941406%, 13.712499618530273% 17.05414581298828%, 13.712499618530273% 14.849281311035156%, 15.127947807312012% 13.824357986450195%, 17.33208465576172% 13.794790267944336%, 19.536970138549805% 13.790993690490723%, 21.741825103759766% 13.792523384094238%, 23.946693420410156% 13.7955322265625%, 25.895362854003906% 13.288920402526855%, 27.266447067260742% 11.562555313110352%, 28.7352237701416% 9.918598175048828%, 30.30401039123535% 8.36983871459961%, 31.97315216064453% 6.929889678955078%, 33.740657806396484% 5.612615585327148%, 35.60170364379883% 4.431307792663574%, 37.54859924316406% 3.3975839614868164%, 39.570865631103516% 2.5204918384552%, 41.65605545043945% 1.8056997060775757%, 43.7903938293457% 1.2547237873077393%, 45.96013259887695% 0.865546703338623%, 48.15222930908203% 0.6326954960823059%, 50.35506057739258% 0.5480846762657166%, 52.558815002441406% 0.6046501994132996%, 54.7538948059082% 0.8077492117881775%, 56.928985595703125% 1.1658731698989868%, 59.0713005065918% 1.6851106882095337%, 61.16703796386719% 2.3683438301086426%, 63.20235824584961% 3.214677333831787%, 65.1644058227539% 4.219296932220459%, 67.0422592163086% 5.373734951019287%, 68.82757568359375% 6.666707515716553%, 70.51506805419922% 8.085107803344727%, 72.10221862792969% 9.614983558654785%, 73.58909606933594% 11.242597579956055%, 74.9776382446289% 12.954904556274414%, 76.77764892578125% 13.786778450012207%, 78.982421875% 13.803509712219238%, 81.18728637695312% 13.799423217773438%, 83.39218139648438% 13.795552253723145%, 85.5969467163086% 13.812744140625%, 87.27861785888672% 14.470458984375%, 87.42272186279297% 16.66875457763672%, 87.38665008544922% 18.87323570251465%, 87.40592193603516% 21.07792854309082%, 87.40592193603516% 23.282773971557617%, 87.39659881591797% 25.487600326538086%);
    }
    
    .icon {
      display: block;
      width: 50%;
      height: auto;
      max-height: 50%;
      margin: auto;
      object-fit: contain;
      color: var(--primary-color);
    }
  
    .swiper_slide p {
      font-size: calc(.9rem + .3vw);
      font-family: var(--font-family);
      text-transform: capitalize;
      width: fit-content;
      margin: 0.7em auto 0 auto;
      text-align: center;
      color: var(--primary-color);
    }
  
.customNavigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width:92%;
  left: 4%;
  transform: translateY(-50%);
}

.navButton_next {
  width: 2em;
  height: 2em;
  border: none;
  cursor: pointer;
  padding: 0em;
  z-index: 20 !important;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  background-color: var(--secondary-color);
}

.navButton_prev {
  width: 2em;
  height: 2em;
  border: none;
  cursor: pointer;
  padding: 0em;
  z-index: 20;
  border-radius: 50%;
  display: flex;
  background-color: var(--secondary-color);
}

.navButton_prev:hover {
  opacity: 0.7; /* Change opacity on hover for effect */
}

.navButton_next:hover {
  opacity: 0.7; /* Change opacity on hover for effect */
}

.nav_icon{
  font-size: 1.5em;
  color: #fff;
  margin: auto;
}

@media screen and (max-width:950px) {
  .swiper_con{
    margin: 3em auto;
  }
  .iconCont {
    max-width: 130em;
    max-height: 130em;
    width: 25vw;
    height: 25vw;
  }
  
  .swiper_slide p {
    font-size: calc(.7rem + .3vw);
  }
}