
.content{
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
}

.img_con{
    width: 100%;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
}
.img_con img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.data{
    width: 45%;
    margin:  auto 0;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-family: var(--font-family);
    color: var(--accent-color);
    justify-content: center;
    z-index: 2;
  }

  .overlay{
    position: absolute;
    top: -16%;
    left: -10%;
    width: 50%;
    height: 200%;
    background-color: #ECF0F7;
    z-index: 2;
    border-radius:0 10em 0 0;
    transform: rotate(15deg);
    /* clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%); */
  }

.data h1{
    font-family: var(--font-family);
    font-size: calc(1.4rem + 1vw);
    letter-spacing: 0.01rem;
    font-weight: 700;
    text-align: start;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #000;
  }
  
  .data p{
    position: relative;
    font-size: calc(0.7rem + 0.3vw);
    color: #000;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.05em;
    margin: 1em auto;
  }
  .buttoncart{
    font-family: var(--font-family);
    position: relative;
    width: fit-content;
    margin: 1em 0 ;
    padding: 0.8em 3em;
    border-radius: 0.5em;
    font-size: calc(0.7rem + 0.3vw);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
  }
  
  .buttoncart:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: var(--secondary-color);
  }

  @media screen and (max-width:750px) {
    .content{
        width: 94%;
        margin: 0 auto;

    }
    .img_con{
        width: 45%;
        margin: auto;
        /* height: 45vw; */
    }
    .data{
        width: 100%;
        height: fit-content;
        margin: auto auto 2em auto;
    }
    .data h1{
        font-size: large;
        margin: 0;
    }
    .data p{
        font-size: small;
        margin: 0;
    }
    .buttoncart{
        padding: 0.4em 2em;
    }
  .overlay{
    bottom: -16%;
    top: auto;
    left: -6%;
    width: 150%;
    height: 50%;
    border-radius:2em 0 0 0;
    transform: rotate(10deg);
  }
  }