.banner{
    position: relative;
    width: 94%;
    max-width: 1900px;
    margin: 0 auto;
    padding: 2em 3%;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    overflow: hidden;
    height: 38vw;
    max-height: 38em;
}

  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .banner .swiper-pagination-bullet-active {
    width: 4em !important;
    height: 9px !important;
    background-color: var(--secondary-color) !important;
    border-radius: 54px;
  }

  .swiper-pagination-bullet-active{
    width: 4em !important;
    height: 12px !important;
    background-color: var(--primary-color) !important;
    /* border-radius: 1px; */
  }
  
@media screen and (max-width:1024px) {
  .banner .swiper-pagination-bullet-active {
    height: 8px !important;
    width: 3em !important;
    border-radius: 5px;
  }
  .banner{
    width: 100%;
    max-width: 1900px;
    padding: 0;
    margin-top: 3.5em;
    height: 50vh;
    max-height: 38em;
  }
  
 .swiper-pagination-bullet-active {
    height: 8px !important;
    width: 3em !important;
  }
}
