.bigContainer{
    position: relative;
    width: 100%;
    height: fit-content;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3% 0 0% 0;
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
  }
     
  .out_of_stock{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(194, 194, 194, 0.5);
    z-index: 9;
    cursor: auto;
    cursor: pointer;
  }
  
  .out_of_stock p {
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-family: var(--font-family);
    font-size: calc(0.7rem + 0.3vw);
    text-align: center;
    justify-self: center;
    align-self: center;
    color: #fff;
    padding: 0.2em 0.8em;
    border-radius: 5px;
    background-color: var(--primary-color);
  }
  .nodata{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    margin: 1em auto;
  }
  
  .nodata_img{
    width: 15em;
    height: 15em;
  }
  
  .nodata_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .nodata h1{
    font-family: var(--font-family);
    color: var(--secondary-color);
    text-align: center;
  }

  .header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 2% 0;
    border-bottom: 1px solid var(--secondary-color);
  }

  .gridrowviews{
    display: flex;
    flex-direction: row;
    margin: 0 2em;
    gap: 2em;
  }

  .viewBtnContainer{
    display: flex;
    width: 2em;
    height: 2em;
    background-color: var(--secondary-color);
    border-radius: .5em;
    transition: background-color 0.7s ease;
    cursor: pointer;
  }

  .viewBtnContainer:hover{
    background-color: var(--forth-color);
  }

  .category{
    font-weight: 500;
    color: var(--secondary-color);
    border-left: 1px solid var(--secondary-color) ;
    height: fit-content;
    margin: auto 0;
    margin-right: auto;
    padding-left: 1.5em;
  }
  .category p{
    margin: 0;
  }
  .categoryMob{
    display: none;
    font-weight: 500;
    color: var(--secondary-color);
    height: fit-content;
    margin: auto 0;
    margin-right: auto;
    padding-left: 1.5em;
  }
  .categoryMob p{
    margin: 0;
  }

  .booksgridview{
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: space-between;
    row-gap: 1em;
    padding: 0% 0 0% 0;
  }

  .booksrowview{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0% 0;
  }

  .card_container{
    width: 100%;
    height: fit-content;
    background: transparent;
    font-family: var(--font-family);
    font-size: calc(0.9rem + 0.2vw);
    letter-spacing: 0.01rem;
    border-radius: 1em;
    box-shadow: 0 2.11px 0 0 rgba(33, 42, 83, 0.2);
    padding: 0.5em 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 2em;
    background-color: rgba(221, 227, 236, 0.6);
  }
  
  .card_img{
    position: relative;
    width: 90%;
    margin: 0 auto;
    border-radius: 1em;
    overflow: hidden;
    padding: 0% 0 0% 0;
    height: 20vw;
    display: flex;
    max-height: 20em;
  }
  
  .img{
    object-fit: contain !important;
    margin: auto;
    height: fit-content;
    width: fit-content;
    max-height: 100%;
    max-width: 100%;
    border-radius: 1em !important;
  }
  
  .card_container:hover {
      cursor: pointer;
      transform: scale(1.05);
      /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
      
    }

    /* .card_container:hover .card_img{
      background-color: var(--primary-color);
    } */

  
  
  .iconsContainer{
    position: absolute;
    width: fit-content;
    top: 0;
    right:0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding:0.5em 0.5em;
    gap: 0.5em;
    /* transition: opacity 0.5s ease-in-out; */
  }
  .iconslistContainer{
    position: relative;
    width: fit-content;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding:0.5em 0.5em;
    gap: 0.5em;
    margin-left: auto;
  }
  .iconslistContainerMob{
    position: relative;
    width: fit-content;
    cursor: pointer;
    display: none;
    flex-direction: row;
    padding:0.5em 0.5em;
    gap: 0.5em;
  }

  .icon_con{
    width: 2em !important;
    height: 2em !important  ;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.5s ease, color 1s ease;
    cursor: pointer;
}
.rate{
  color: #712A2E;
  font-size: calc(0.6rem + 0.2vw);
  margin: 0 0 0 1em;
  display: flex;
  flex-direction: row;
}
.rateMob{
  color: #712A2E;
  font-size: calc(0.6rem + 0.2vw);
  display: none;
  margin: 0;
  flex-direction: row;
}
.icon_con:hover {
  background-color: #fff;

  .icon{
    color: var(--secondary-color);
  }
}

.icon {
  width: 1.2em;
  height: 1.2em;
  margin: 0.4em;
  color: #fff;
  transition: color 0.5s ease, color 1s ease;
  cursor: pointer;
}
  
.bookTitle{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--font-family);
  font-size: calc(0.7rem + 0.3vw);
  font-weight: 800;
  letter-spacing: 0.01rem;
  color: var(--secondary-color);
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

.bookTitle p{
  margin: 0.5em 0;
}
  .bookTitle h3{
    font-family: var(--font-family);
    font-size: calc(0.8rem + 0.4vw);
    letter-spacing: 0.01rem;
    text-align: center;
    margin: .2em auto;
    /* line-height: 0; */
  }
  
  .favoriteIcon{
    position: absolute;
    height: 1em;
    width: 1em;
    top: 0.7em;
    right: 0.7em;
    background-color: var(--primary-color);
    padding: 0.5em;
    border-radius: 50%;
    z-index: 50;
  }

  .cartIcon{
    position: absolute;
    height: 1em;
    width: 1em;
    top: 3em;
    right: 0.7em;
    background-color: var(--primary-color);
    padding: 0.5em;
    border-radius: 50%;
  }
  
  .fav{
    width: 1.2em !important;
    height: 1.2em !important;
    margin: auto !important;
    margin-left: -0.07em !important;
    margin-top: -0.05em !important;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .fav:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .nonfav{
    width: 1.2em !important;
    height: 1.2em !important;
    margin: auto !important;
    margin-left: -0.07em !important;
    margin-top: -0.05em !important;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  .nonfav:hover{
    color: white;
    cursor: pointer;
    transform: scale(1.1);
  }

  .listCard{
    width: 94% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000;
    margin: 1em 0;
    border: .15em solid var(--secondary-color);
    padding: 1em 3%;
    border-radius: 1em;
    font-family: var(--font-family);
    font-size: calc(0.7em + 0.3vw);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.listCard:hover {
  transform: scale(1.05);
  background-color: var(--authbg-color);
  
  border: .2em solid var(--secondary-color);
}

  .bookRowTitle{
    font-size: calc(0.9rem + 0.3vw);
    color: var(--secondary-color);
    font-weight: 600;
    margin: .5em 0 0 0;
    display: flex;
    flex-direction: row;
    transition: color .5s ease;
  }

  .title{
    width: 80%;
    white-space: nowrap; /* Allow text to wrap */
    overflow: hidden;    /* Hide any overflow text */
    display: -webkit-box; /* Use the webkit box model for multi-line ellipsis */
    -webkit-box-orient: vertical; /* Set the box orientation to vertical */
    -webkit-line-clamp: 1; /* Limit the text to 3 lines */
    line-clamp: 1; /* For standard syntax, though it may not be fully supported */
    text-overflow: ellipsis; /* Add ellipsis when the text overflows */
  }

.bookRowAuthor{
  color: var(--authbg-color);
  transition: color .5s ease;
  margin: 0em 0 0.5em 0;
  font-size: calc(0.6rem + 0.2vw);
}
.bookRowDescription{
  color: var(--secondary-color);
  transition: color .5s ease;
  white-space: normal; /* Allow text to wrap */
  overflow: hidden;    /* Hide any overflow text */
  display: -webkit-box; /* Use the webkit box model for multi-line ellipsis */
  -webkit-box-orient: vertical; /* Set the box orientation to vertical */
  -webkit-line-clamp: 1; /* Limit the text to 3 lines */
  line-clamp: 1; /* For standard syntax, though it may not be fully supported */
}

.listCard:hover .bookRowAuthor{
  color: var(--secondary-color);
}

.imgCont{
  position: relative;
  width: 100%;
   margin: auto 0.7em auto 0;
   height: 8vw;
   max-height: 8em;
   display: flex;
}

.imgCont img{
    object-fit: contain !important;
    margin: auto;
    height: fit-content;
    width: fit-content;
    max-height: 100%;
    max-width: 100%;
}
.leftContainer{
  width: fit-content;
  display: grid;
    width: 70%;
    max-width: 70%;
    grid-template-columns: 12% 85%;
    justify-content: space-between;
}
.contentContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: start;
    justify-content: space-between;
}

.price{
    color: var(--primary-color);
    font-size: large;
    font-weight: 700;
    text-align: end;
    width: 98%;
    justify-self: flex-end;
    margin: auto 0  !important;
    align-self: flex-end;
}
.listCard:hover .price{
  color: #DED8CC;
}
.priceMob{
    margin: auto;
    color: var(--secondary-color);
    font-weight: 500;
    display: none;
}

.rightContainer{
    flex: 1;
    width: fit-content !important;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page_control{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.5em;
  padding: 1.5em 0;
  margin: 2em auto -4em auto;
}
.page_control1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.5em;
  padding: 1em 0;
  margin: 1em auto 0em auto;
}

.control{
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  margin: 0 auto;
}

.control button{
  background-color: #fff;
  color: var(--secondary-color);
  width: 3em;
  height: 3em;
  border: none;
  border-radius: .5em;
  cursor: pointer;
}

.icon1{
  color: var(--secondary-color);
  width: 1.5em;
  height: 1.5em;
  margin: auto !important;
  font-weight: 700;
}

.nb{
  font-family: var(--font-family);
  font-style: normal;
  color: var(--secondary-color);
  background-color: #fff !important;
  font-weight: 700;
}
.ellipsis{
  margin: auto auto 0.5em auto;
}

.selectednb{
background-color: var(--primary-color) !important;
color: #fff !important;
font-family: var(--font-family);
font-style: normal;
font-weight: 700;
}

.list_resume{
  display: flex;
}

.list_resume_mob{
  display: none;
}


.listcartIcon{
  width: .9em !important; 
  height: .8em;
  margin: .2em  .1em;
}

.listcompareIcon{
  width: 1em;
  height: 1em; 
  margin: .4em 0.2em 0 0
}

.listfavIcon{
  width: 2em;
  height: 2em; 
  margin: .4em 0.2em;
  color: red;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.listnonfavIcon{
  width: 2em;
  height: 2em; 
  margin: .4em 0.2em;
  color: red;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.listfavIcon:hover .listnonfavIcon:hover{
cursor: pointer;
transform: scale(1.1);
}

.btn{
  display: none;
  width: 2em;
  height: 2em;
  background-color: var(--primary-color);
  border-radius: .5em;
  color: #DED8CC;
}


.dicription {
  color: var(--secondary-color) !important;
  font-size: calc(0.6rem + 0.2vw) !important;
  line-height: 1.5em !important;
  margin: .3em 0 0 0 !important;
  font-weight: 600 !important;
  font-style: normal !important;
  font-family: var(--font-family) !important;
  background-color: transparent !important;
  height: 1.5em !important;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;

}

.bookRowDescription {
  color: var(--secondary-color) !important;
  font-size: calc(0.8rem + 0.2vw) !important;
  line-height: 1.5em !important;
  margin: .3em 0 0 0 !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-family: var(--font-family) !important;
  background-color: transparent !important;
  height: 1.5em !important;
}


/* @media screen and (max-width:1400px) {
  .imgCont{
    width: 15%;
     margin: auto 0.7em auto 0;
  }
} */

@media screen and (max-width:950px) {
  
  .page_control{
    margin: 0 auto 1em auto;
  }
  .page_control1{
    margin: 0 auto 1em auto;
  }
  .btn{
    display: inline;
    margin-right: 1em;
  }
  .showFilter{
    display: none;
  }
  .booksgridview{
    grid-template-columns: repeat(3, 32%);
  }

  .booksrowview{
    padding: 5% 0 0% 0;
  }
 
  .showingnumber{
    display: none;
  }

  .controlbtns{
    margin: 5em 8em 0 auto;
  }
  
.list_resume{
  display: none;
}

.list_resume_mob{
  display: flex;
}


.listcartIcon{
  width: .7em !important; 
  height: .7em;
  margin: .10em  .15em;
}

.listcompareIcon{
  width: .9em;
  height: .9em; 
  margin: .45em .4em
}

.card_container:hover{
  box-shadow: 0 0 0 transparent;
}

.rowcard_container:hover{
  box-shadow: 0 0 0 transparent;
}

.fav{
  transform: scale(1.3);
}

.nonfav{
  transform: scale(1.3);
}

.fav:hover{
  transform: scale(1.3);
}


.nonfav:hover{
  transform: scale(1.3);
  color: #000;
}
/* .icon_con{
  width: 1.5em !important;
height: 1.5em !important;
} */
.controlbtns{
  margin: 5em 8em 0 auto;
}


.icon {
width: 1.5em;
height: 1.5em;
margin: 0.25em;
}

.card_img{
  height: 35vw;
}
.imgCont{
  height: 35vw;
}
}


@media screen and (max-width:650px) {
  .header{
    flex-direction: column;
    gap: 2em;
    border: none;
  }
  .page_control1{
    margin: 0 auto;
    padding:0.5em 0;
  }
  .page_control1{
    margin: 0 auto;
    padding:0.5em 0;
  }
  .btn{
    display: inline;
    margin-right: auto;
    margin-left: 2em;
  }
  .show{
    display: none;
  }
  .listCard{
    flex-direction: column;
}
.leftContainer{ 
  width: 100%;
  max-width: 100%;
  grid-template-columns: 21% 75%;
}
.imgCont{
  height: 45vh;
}
.contentContainer{
  width: 70%;
}
.rate{
  display: none;
}
.rateMob{
  display: flex;
}
.rightContainer{
  max-width: 100%;
  width: 100% !important;
  flex-direction: row;
  justify-content: space-between;
}
.price{
  width: fit-content;
  margin: auto 0;
}
.listCard:hover .price{
color: #DED8CC;
}
.iconslistContainer{
  display: none;
}
.iconslistContainerMob{
  display: flex;
}
 
.control{
  width: fit-content;
  margin: 0 auto;
  gap: .5em;
}
  
  .control button{
    width: 2.5em;
    height: 2.5em;
    padding: 0em;
  }
  .gridrowviews{
    margin-right: 0;
  }
  .category{
    display: none;
  }
  .categoryMob{
    display: flex;
  }
  .booksgridview{
    grid-template-columns: repeat(2, 48%);
  }

  .controlbtns{
    margin: 17em auto 3em auto;
    justify-content: center;
}

.card_container{
  margin-top: 0.5em;
}

.controlbtns button{
    padding: 0.2em 2em;
}


.listcartIcon{
  width: .6em !important; 
  height: .6em;
  margin: .01em  .3em;
}

.listcompareIcon{ 
  margin: .47em 0.9em !important; 
}

.card_img{
  height: 50vw;
}
}
/* Spinner for loading */
.spinner {
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}