.big_container{
    position: relative;
    width: 100%;
    max-width: 1900px;
    height: fit-content;
    margin: 5em auto;
}

.content{
    width: 88%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: column;
}

.header h1{
    position: relative;
    font-size: calc(1.2rem + 0.7vw);
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: 700;
    line-height: normal;
    margin:0 auto;
}

.header p{
    width: 40%;
    position: relative;
    font-size: calc(0.7rem + 0.3vw);
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: 400;
    line-height: normal;
    margin: 1em auto;
}

.hex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust spacing between items */
  margin: 5em auto 2em auto;
  width: 100%;
}

.hex_item {
  position: relative;
  width: 17em;
  height: 16vw;
  max-height: 17em; 
  background-image: url(../../../assets/servicesBG.png);
  background-repeat: no-repeat; 
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}


.hex_item:hover {
  transform: scale(1.05);
}

.hex_content {
  padding: 10px;
}
.img_con{
  width: 6vw;
  height: 6vw;
  max-width: 4em;
  max-height: 4em;
  margin-bottom: 0.5em;
  margin: 0 auto;
}
.hex_content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.hex_content h2{
  margin: 0;
  font-size: calc(0.8rem + 0.4vw);
  color: var(--secondary-color);
}

.hex_content p {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-size: calc(0.6rem + 0.2vw);
  color: var(--secondary-color);
}

@media screen and (max-width:1200px) {
  .hex_item{
    width: 13em;
  }
}
@media screen and (max-width:1024px) {
  .hex_item{
    width: 11em;
    background-size: cover;
    height: 22vw;
  }
  .content{
    width: 100%;
  }
  
  .header p{
    width: 88%;
}
.hex_container{
  margin: 2em auto 2em auto;
}
}

@media screen and (max-width:650px) {
  .hex_item{
    width: 7em;
    height: 30vw;
  }
}