.contactUs{
  width: 88%;
  max-width: 1900px;
  margin: 7em auto 3em auto;
  height: fit-content;
  border-radius: 2em;
  z-index: 30;
}
.header{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 4em auto 3em auto;
}

.headerh1{
  font-size: calc(2rem + .5vw);
  font-weight: 700;
  font-family: var(--font-family);
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: .3em;
}
.headerh2{
  margin: auto;
  text-align: center;
  font-size: calc(1.1rem + .3vw);
  font-weight: 500;
  max-width: 40em;
  font-family: var(--font-family);
  color: var(--secondary-color);
  z-index: 30 !important;
}
.cardsContainer{
  position: relative;
  width: 90%;
  padding: 6em 5% 3em 5%;
  margin: 0em auto 8em auto;
  display: flex;
  flex-direction: row;
  font-size: calc(.7rem + 0.3vw);
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 4px 7px 7.1px rgba(0, 0, 0, 25%);
  border-radius: 1em;
  overflow: hidden;
}

.sotialsCard{
  width: 30%;
  height: fit-content;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  font-size: calc(.7rem + 0.3vw);
  padding-left: 5%;
  text-align: start;
  gap: 1em;
}

.sotialsCard h2{
  text-align: start;
  color: #fff;
  font-size: calc(1.2rem + .3vw);
  font-family: var(--font-family);
  font-weight: 600;
  z-index: 1;
}

.auth_bg1{
  position: absolute;
  width: 90em;
  height: 50em;
  background-color: var(--authbg-color);
  top: -10em;
  left: 65%;
  border-radius: 6em;
  transform: rotate(-18deg);
  z-index: 0;
}
.card{
  width: 60%;
  margin-right: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  font-size: calc(.7rem + 0.3vw);
}
.card h2{
  text-align: start;
  color: var(--secondary-color);
  font-size: calc(1.2rem + .3vw);
  font-family: var(--font-family);
  font-weight: 700;
  z-index: 1;
}
.socials {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  padding-top: 1em;
  z-index: 1;
}

.social_icon {
  justify-content: center;
  align-items: center;
  border-radius: .2em;
  transition: background-color 0.5s ease, color 1s ease;
  cursor: pointer;
  background-color: var(--primary-color);
  padding: 0.4em;
  width: 1em;
  height: 1em;
}

.social_icon:hover {
  .icon{
    color: #fff;
  }
}

.icon {
  font-size: 1em;
  color: #fff;
  transition: color 0.5s ease, color 1s ease;
  cursor: pointer;
}

.form{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1em;
  font-family: var(--font-family) !important;
}

.inputCont{
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10%;
}

 
@media screen and (max-width:750PX) {

  .cardsContainer{
    padding: 2em 5% 1em 5%;
    flex-direction: column-reverse;
    margin: auto;
  }
  .sotialsCard{
    width: fit-content;
    margin: auto;
    height: fit-content;
    margin: 0 auto 0 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    font-size: calc(.7rem + 0.3vw);
    padding-left: 5%;
    text-align: center;
    gap: 1em;
    margin-bottom: 9em;
    z-index: 50;
  }
  
  .socials {
    width: fit-content;
    margin: 0 auto 0 0;
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    padding-top: 1em;
    z-index: 1;
  }
  .auth_bg1{
    position: absolute;
    width: 90em;
    height: 50em;
    background-color: var(--authbg-color);
    top: -33em;
    left: -5em;
    border-radius: 3em;
    /* z-index: -1; */
    transform: rotate(-20deg);
    z-index: 0;
  }
  .card{
    width: 90%;
    z-index: 1;
    margin-right: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    font-size: calc(.7rem + 0.3vw);
  }
  
  .card h2{
    text-align: center;
    color: var(--secondary-color);
    font-size: calc(1.2rem + .3vw);
    font-family: var(--font-family);
    font-weight: 700;
    z-index: 1;
  }
  .inputCont{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0%;
  }
  .contactUs{
    width: 88%;
    max-width: 1900px;
    margin: 8em auto 0 auto;
    height: fit-content;
    border-radius: 2em;
    z-index: 30;
  }
  .form{
    margin-bottom: 0em;
  }
}


@media screen and (max-width:650px) {

}



