.big_container{
    position: relative;
    width: 100%;
    max-width: 1900px;
    height: fit-content;
    margin: 0 auto 5em auto;
}      
.out_of_stock{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(194, 194, 194, 0.5);
  z-index: 9;
  cursor: auto;
  cursor: pointer;
}

.out_of_stock p {
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-family: var(--font-family);
  font-size: calc(0.7rem + 0.3vw);
  text-align: center;
  justify-self: center;
  align-self: center;
  color: #fff;
  padding: 0.2em 0.8em;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.content{
    display: flex;
    flex-direction: column;
    width: 88%;
    margin: 0 auto;
}
.nodata{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    margin: auto;
    margin-top: 4em;
    justify-content: center;
    align-items: center;
  }
  
  .nodata_img{
    width: 10em;
    height: 10em;
  }
  
  .nodata_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .nodata h1{
    font-family: var(--font-family);
    font-size: calc(1.5rem + 0.8vw);
    color: #EEBA7F;
    text-align: start;
  }

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title h1{
  position: relative;
  font-size: calc(1.2rem + 0.7vw);
  color: var(--secondary-color);
  font-family: var(--font-family);
  font-weight: 700;
  line-height: normal;
  margin:0 auto;
}

.header_low{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
}

.nav_container{
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: flex-start;
    background: rgba(211, 227, 236, 0.6);
    padding: 0.65em 0.5em;
    border-radius: 0.8em;
  }
  .nav_next{
    position: relative;
    display: flex !important;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    background-color: var(--primary-color);
  }
  
  .nav_nb{
    position: relative;
    margin: auto 0.8em;
    border-radius: 50%;
    font-size: large;
    text-align: center;
    color: var(--secondary-color);
    display: flex;
  }
  .nav_prev{
    position: relative;
    display: flex !important;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    background-color: var(--primary-color);
    z-index: 10;
  }

  .nav_icon{
    font-size: 1em;
    color: #fff;
    margin: auto;
    cursor: pointer;
  }

  .view_more{
    width: fit-content;
    padding: 0.5em 1em;
    font-family: var(--font-family);
    font-size: calc(0.8rem + 0.3vw);
    font-weight: 500;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    justify-self: flex-end;
    border-color: transparent;
    border-radius: 0.5em;
    transition: color 0.5s ease, color 1s ease;
  }

  
  .view_more_mob{
    width: fit-content;
    padding: 0.5em 3em;
    font-family: var(--font-family);
    font-size: calc(0.8rem + 0.3vw);
    font-weight: 500;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    justify-self: center;
    border-color: transparent;
    border-radius: 0.5em;
    transition: color 0.5s ease, color 1s ease;
    display: none;
  }

  .cat_btns_wrapper{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(211, 227, 236, 0.6);
    padding: 0.7em 0.5em;
    border-radius: 0.8em;
  }
  
  .cat_arrow{
    position: relative;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cat_arrow_icon{
    font-size: 1.5em;
    color: #fff;
    margin: auto;
    cursor: pointer;
  }
    
  .cat_btns {
  display: flex;
  flex-direction: row;
  justify-content: start; /* Align items to the start */
  align-items: start;
  column-gap: 2em;
  margin: auto ;
  max-width: 90%;
  overflow-x: auto; /* Allow horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrolling if present */
  white-space: nowrap; /* Prevent wrapping of buttons */
  }
  
  .cat_btns::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for WebKit browsers */
  }
  
  .cat_btns button {
  font-size: medium;
  font-family: var(--font-family);
  background-color: transparent;
  color: #000;
  padding: 0.0em 0.5em;
  border-radius: 0;
  font-weight: 400;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  white-space: nowrap; /* Prevent button text from wrapping */
  }
  
  .cat_btns button:hover {
  transform: scale(1.08);
  }

.favoriteIcon{
  position: absolute;
  height: 1em;
  width: 1em;
  top: .7em;
  right: 0.7em;
  background-color: var(--primary-color);
  padding: 0.5em;
  border-radius: 50%;
  z-index: 10;
  color: #fff;
}

.cartIcon{
  position: absolute;
  height: 1em;
  width: 1em;
  top: 3em;
  right: 0.7em;
  background-color: var(--primary-color);
  padding: 0.5em;
  border-radius: 50%;
  z-index: 9;
  transition: all 0.3s ease-in-out;
}

.cartIcon:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.fav{
  width: 1.2em !important;
  height: 1.2em !important;
  margin: auto !important;
  margin-left: -0.07em !important;
  margin-top: -0.05em !important;
  color: white !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  
}

.fav:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.nonfav{
  width: 1.2em !important;
  height: 1.2em !important;
  margin: auto !important;
  margin-left: -0.07em !important;
  margin-top: -0.05em !important;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.nonfav:hover{
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}

.categories{
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

.parent_cat{
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    margin-bottom: 1em;
    justify-content: end !important;
}
.child_cat{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.child_cat p{
    position: relative;
    font-size: calc(0.7rem + 0.3vw);
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: 400;
    line-height: normal;
    margin: 1em auto;
    cursor: pointer;
    transition: color 0.5s ease, color 1s ease;
}

.child_cat p:hover{
    color: var(--primary-color);
}

.books_list{
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: space-between;
    row-gap: 4em;
}

.card_container{
    width: 100%;
    height: 100%;
    background: transparent;
    font-family: var(--font-family);
    font-size: calc(0.9rem + 0.2vw);
    letter-spacing: 0.01rem;
    border-radius: 2em;
    transition: all 0.3s ease-in-out;
    background-color: var(--accent-color);
    transition: background-color 0.5s ease, color 1s ease;
    cursor: pointer;
  }
  
.card_container:hover{
    background-color: var(--primary-color);
    
  .price{
    color: var(--secondary-color);
  }
}
  
  .card_img{
    position: relative;
    width: 80%;
    margin: 10% auto 0 auto; 
    border-radius: 1em;
    overflow: hidden;
    /* padding: 10% 10% 0% 10%; */
    height: 22vw;
    max-height: 22em;
    display: flex;
  }
  
  .img{
    object-fit: contain !important;
    margin: auto;
    height: fit-content;
    width: fit-content;
    max-height: 100%;
    max-width: 100%;
    border-radius: 1em;
  }
  
  
  .buttoncart{
    font-family: var(--font-family);
    position: relative;
    width: fit-content;
    /* margin: 0 auto; */
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-size: calc(0.7rem + 0.3vw);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--secondary-color);
    background-color: transparent;
    border: none;
  }
  
  .buttoncart:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color:  var(--primary-color)   ;
  color: #fff;
  }
  
  
  .card_content{
    width: 100%;
    left: 0;
    text-align: center;
    row-gap: 1vh;
    font-size: calc(0.7rem + 0.2vw);
    /* padding-bottom: 5%; */
  }
  .card_content1{
  position: relative;
  width: 80%;
  background-color: #DDE4E6;
  padding: 2% 0% 0% 0% ;
  border-radius: 5px;
  left: 0;
  text-align: center;
  row-gap: 1vh;
  font-size: calc(0.7rem + 0.2vw);
  /* padding-bottom: 5%; */
  }
  
  .testt{
  position: absolute;
  height: 2.4em;
  width: 2.4em;
  top: 13%;
  right: -14%;
  border-radius: 50%;
  border: 2px white solid;
  background-color: #A8ACAD;
  }
  
  .bookTitle{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: var(--font-family);
    font-size: calc(0.7rem + 0.3vw);
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: 0.01rem;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
  }

  .bookTitle p{
    margin: 0.5em 0;
  }

  .price{
    text-align: center;
    padding: 0 ;
    color: var(--primary-color);
    font-weight:700 ;
    transition: color 0.3s ease-in-out;
  }
  
  .swiper{
      position: relative;
      width: 100%;
      margin: 1em auto;
      /* margin-top: 5vh; */
      justify-content: center;
      text-align: center;
      align-items: center;
  }
  
  .arrowDesktop{
    display: flex ;
  }
@media screen and (max-width:1024px) {
    .books_list{
        display: none;
    }

    .card_container{
      height: 100%;
      border-radius: 15px;
    }
    .swiper{
        display: flex;
    }

    .header{
      flex-direction: column;
    }

    .parent_cat{
      margin: 0 auto 1em auto;
    }
    
  .card_img{
    height: 35vw;
  }
  .bookTitle{
    font-size: small;
    font-weight: 500;
  }
  .title h1{
    margin-top: 1em;
  }
  .categories{
    margin-bottom: 0.5em;
  }

  .header_low{
    margin: 1.5em 0 0.5em 0;
  }
  .view_more_mob{
    display: block;
  }

  .view_more{
    display: none;
  }

  .nav_container{
    display: none;
  }

  .cat_btns_wrapper{
    width: 94%;
    padding: 0.7em 3%;
  }

  .cat_btns{
    max-width: 80%;
  }

  .cat_btns button {
    font-size: small;
    padding: 0.5em 0em;
  }
}

@media screen and (max-width:650px) {
  .nodata{
    flex-direction: column;
  }
  .nodata h1{
    text-align: center;
  }
  .card_img{
    height: 45vw;
  }
  }