.bookDetailsPageContaimer{
    width: 100%;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    max-width: 1900px;
    margin: 0 auto 5em auto;
    padding-top: 2em;
    background-color: #fff;
    /* z-index: 1; */
}
.img_abs{
    position: absolute;
    object-fit: contain;
    right:0;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }

  .deals_con{
    margin-top: -4em
  }

  @media screen and (max-width:1024px) {
    .img_abs{
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
    .bookDetailsPageContaimer{
      margin: 0 auto ;
  }
  
  .deals_con{
    margin-top: 0em
  }
}

@media screen and (max-width:650px) {
.img_abs{
  width: 50%;
  height: 50%;
  object-fit: contain;
}
}