.big_container{
    position: relative;
    width: 100%;
    max-width: 1900px;
    height: fit-content;
    margin: 5em auto;
    background-color: var(--accent-color);
    padding: 3em 0;
    background-image: url(../../../assets/dealsBG.png);
    background-repeat: no-repeat;
    background-size: contain;
}
      
.out_of_stock{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(194, 194, 194, 0.5);
  z-index: 9;
  cursor: auto;
  cursor: pointer;
}

.out_of_stock p {
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-family: var(--font-family);
  font-size: calc(0.7rem + 0.3vw);
  text-align: center;
  justify-self: center;
  align-self: center;
  color: #fff;
  padding: 0.2em 0.8em;
  border-radius: 5px;
  background-color: var(--primary-color);
}
.content{
    width: 88%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header h1{
    position: relative;
    font-size: calc(1.2rem + 0.7vw);
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: 400;
    line-height: normal;
    margin:0 auto;
}

.header p{
    width: 40%;
    position: relative;
    font-size: calc(0.7rem + 0.3vw);
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: 400;
    line-height: normal;
    margin: 1em auto;
}

.header_low{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
}

.nav_container{
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: flex-start;
    background: rgba(211, 227, 236, 0.6);
    padding: 0.65em 0.5em;
    border-radius: 0.8em;
  }
.nav_container_mobile{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 120%;
    height: fit-content;
    margin: 0 ;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    justify-self: flex-start;
    background: transparent;
    padding: 0.65em 0;
    margin: auto 0;
    margin-left: -10%;
    z-index: 10;
  }
  .nav_next{
    position: relative;
    display: flex !important;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    background-color: var(--primary-color);
  }
  
  .nav_nb{
    position: relative;
    margin: auto 0.8em;
    border-radius: 50%;
    font-size: large;
    text-align: center;
    color: var(--secondary-color);
    display: flex;
  }
  .nav_prev{
    position: relative;
    display: flex !important;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    background-color: var(--primary-color);
    z-index: 10;
  }

  .nav_icon{
    font-size: 1em;
    color: #fff;
    margin: auto;
    cursor: pointer;
  }

  .view_more{
    width: fit-content;
    padding: 0.5em 1em;
    font-family: var(--font-family);
    font-size: calc(0.8rem + 0.3vw);
    font-weight: 500;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    justify-self: flex-end;
    border-color: transparent;
    border-radius: 0.5em;
    transition: color 0.5s ease, color 1s ease;
  }

  
  .view_more_mob{
    width: fit-content;
    padding: 0.5em 3em;
    font-family: var(--font-family);
    font-size: calc(0.8rem + 0.3vw);
    font-weight: 500;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    justify-self: center;
    border-color: transparent;
    border-radius: 0.5em;
    transition: color 0.5s ease, color 1s ease;
    display: none;
  }

  .cat_btns_wrapper{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(211, 227, 236, 0.6);
    padding: 0.7em 0.5em;
    border-radius: 0.8em;
  }
  
  .cat_arrow{
    position: relative;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cat_arrow_icon{
    font-size: 1.5em;
    color: #fff;
    margin: auto;
    cursor: pointer;
  }
    
  .cat_btns {
  display: flex;
  flex-direction: row;
  justify-content: start; /* Align items to the start */
  align-items: start;
  column-gap: 2em;
  margin: auto ;
  max-width: 90%;
  overflow-x: auto; /* Allow horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrolling if present */
  white-space: nowrap; /* Prevent wrapping of buttons */
  }
  
  .cat_btns::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for WebKit browsers */
  }
  
  .cat_btns button {
  font-size: medium;
  font-family: var(--font-family);
  background-color: transparent;
  color: #000;
  padding: 0.0em 0.5em;
  border-radius: 0;
  font-weight: 400;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  white-space: nowrap; /* Prevent button text from wrapping */
  }
  
  .cat_btns button:hover {
  transform: scale(1.08);
  }
.nodata{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    margin: auto;
    margin-top: 4em;
    justify-content: center;
    align-items: center;
  }
  
  .nodata_img{
    width: 10em;
    height: 10em;
  }
  
  .nodata_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .nodata h1{
    font-family: var(--font-family);
    font-size: calc(1.5rem + 0.8vw);
    color: #EEBA7F;
    text-align: start;
  }
  
  
  
  .swiper{
      position: relative;
      width: 100%;
      margin: 1em auto;
      /* margin-top: 5vh; */
      justify-content: center;
      text-align: center;
      align-items: center;
  }
  
  .swiperslide{
    width: 100%;
    height: auto !important;
  }
  
  .arrowDesktop{
    display: flex ;
  }
  
  .card_container{
    width: 100%;
    height: 100% !important;
    display: grid;
    grid-template-columns: 35% 60%;
    height: fit-content;
    background: #fff;
    border-radius: 1em;
    font-family: var(--font-family);
    font-size: calc(0.9rem + 0.2vw);
    letter-spacing: 0.01rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .card_img{
    position: relative;
    width: 90%;
    margin: 10%;
    border-radius: 1em;
    overflow: hidden;
    /* padding: 10%; */
    height: 22vw;
    max-height: 22em;
    display: flex;
  }
  
  .img{
    object-fit: contain !important;
    margin: auto;
    height: fit-content;
    width: fit-content;
    max-height: 100%;
    max-width: 100%;
    border-radius: 1em;
  }
  
  
  .buttoncart{
    font-family: var(--font-family);
    position: relative;
    width: fit-content;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-size: calc(0.7rem + 0.3vw);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
  }
  
  .buttoncart:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: var(--secondary-color);
  }
  
  .bookTitle{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    transition: opacity 0.3s ease-in-out;
    padding: 10%;
    margin:  0 ;
    justify-content: space-between;
  }

  .bookTitle p{
    margin: 0.5em 0;
    font-family: var(--font-family);
    font-size: calc(1rem + 0.3vw);
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: 0.01rem;
    text-align: start;
  }
  .navigations{
    display: flex;
  }

  .favoriteIcon{
    position: relative;
    height: 2em;
    width: 2em;
    background-color: var(--primary-color);
    padding: 0.5em;
    border-radius: 10px;
  }
  
  .fav{
    width: 2em !important;
    height: 2em !important;
    margin: auto !important;
    margin-left: -0.07em !important;
    margin-top: -0.05em !important;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .fav:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .nonfav{
    width: 2em !important;
    height: 2em !important;
    margin: auto !important;
    margin-left: -0.05em !important;
    margin-top: 0.05em !important;
    cursor: pointer;
    color:#fff;
    transition: all 0.3s ease-in-out;
  }
  
  .nonfav:hover{
    color: white;
    cursor: pointer;
    transform: scale(1.1);
  }
  
.viewall{
  position: absolute;
  top: 1.8em;
  right: 7.6em;
  left: auto;
  font-weight: 600;
  font-size: medium;
  color: var(--secondary-color);
  font-family: var(--font-family);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.viewall:hover{
  color: var(--primary-color);
}

  .descmob{
    display: none;
  }
  @media screen and (max-width:950px) {
    .nodata{
      flex-direction: column;
    }
    .nodata h1{
      text-align: center;
    }

    .viewall{
      right: 5.6em;
      top: 2em;
    }
    .nav_next{
      top: 58%;
      right: 2em;
      z-index: 10;
    }
    .nav_prev{
      top: 58%;
      bottom: 0;
      left: 2em;
    }
    .nav_nb{
      display: none;
    }
    .header p{
        width: 88%;
    }
    
  
    .swiper{
      width: 100%;
    }
    
  .card_img{
    height: 35vw;
    margin: auto 10%;
  }
  
  .bookTitle{
    justify-content: center;
    padding: 2% 10%; 
  }

  .bookTitle p{
    font-size: small;
  }

  .header_low{
    margin: 1.5em 0 0.5em 0;
  }
  .view_more_mob{
    display: block;
  }

  .view_more{
    display: none;
  }

  .nav_container{
    display: none;
  }

  .nav_container_mobile{
    display: flex;
  }

  .cat_btns_wrapper{
    width: 94%;
    padding: 0.7em 3%;
  }

  .cat_btns{
    max-width: 80%;
  }

  .cat_btns button {
    font-size: small;
    padding: 0.5em 0em;
  }
  }

  @media screen and (max-width:650px) {
    .big_container{
      margin: 0em auto 5em auto;
      }
    .nav_next{
      right: 0.8em;
      width: 1.5em;
      height: 1.5em;
    }
    .nav_prev{
      left: 0.8em;
      width: 1.5em;
      height: 1.5em;
    }

  .card_img{
    height: 45vw;
  }
  .desc{
    display: none;
  }
  .descmob{
    display: flex;
    font-size: small !important;
  }

  .favoriteIcon{
    width: 1em;
    height: 1em;
  }

  .buttoncart{
    font-family: var(--font-family);
    padding: 0.1em 1em;
  }
  
  .fav{
    width: 1.2em !important;
    height: 1.2em !important;
  }

  .nonfav{
    width: 1.2em !important;
    height: 1.2em !important;
  }
  
  .viewall{
    font-size: small;
    right: 1.2em;
    top: 3.2em;
  }
  }