
.adressesContainer{
    width: 88%;
    margin: 0 auto;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.backgroungIMG{
    width: 100%;
    height: fit-content;
    position: absolute;
    left: 0;
    bottom: 0;
}


.header{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 2em auto;
    justify-content: space-between;
  }
  
  .headtitle{
      position: relative;
      width: fit-content;
      height: fit-content;
      font-family: var(--font-family);
      font-size: calc(0.9rem + 0.3vw);
      letter-spacing: 0.01rem;
      text-align: center;
      color: #fff;
      margin: 0em auto 0 auto;
      text-transform: capitalize;
    }

   
.nodata{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    margin: 1em auto;
  }
  
  .nodata_img{
    width: 15em;
    height: 15em;
    margin: auto;
  }
  
  .nodata_img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: auto;
  }
  
  .nodata h1{
    font-family: var(--font-family);
    color: var(--secondary-color);
    text-align: center;
    margin-top: 0;
  }

.addBtn{
    width: fit-content;
      border: none;
      padding: .5em 4em;
      background-color: var(--primary-color);
      color: #fff !important;
      transition: all 0.5s ease, color 1s ease;
      font-size: calc(.7rem + 0.3vw);
      border-radius: .7em;
      border: 2px solid transparent;
      margin: 2em auto 3em auto;
      cursor: pointer;
      font-family: var(--font-family) !important;
  }
  
  .addBtn:hover{
      color: var(--primary-color) !important;
      border: 2px solid var(--primary-color) !important;
      background-color: #fff;
  }

.adressCardContainer{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 31%);
    justify-content: space-between;
    height: fit-content;
    row-gap: 1.5em;
}

.adressCard{
    width: 100%;
    position: relative;
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 0.5em;
    background-color: var(--secondary-color);
    overflow: hidden;
    color: var(--accent-color);
    cursor: pointer;
    margin-bottom: 1em;
}

.adressCardSelected{
    width: 100%;
    position: relative;
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    border-radius: .5em;
    color: #fff;
    background-color: var(--primary-color);
    /* box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5); */
    cursor: pointer;
    margin-bottom: 1em;
}

.contantContainer{
    width: 85%;
    margin: 0 auto;
    padding: 1em 0;
    height: 100%;
    font-family: var(--font-family);
    text-align: start;
    font-size: calc(0.9rem + 0.3vw);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contant{
    max-width: 65%;
    margin: 0 ;
    text-align: start;
    display: flex;
    flex-direction: column;
}

.contant p{
    position: relative;
    font-size: calc(0.7rem + 0.3vw);
    color: #fff;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: normal;
}

.bottomCardContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.2em 0.5em;
    background-color: rgba(0, 0, 0, 0.72);
    color: #fff;
    justify-content: space-between;
}
.addAddBtn{
    width: 25vh;
    max-width: 35em;
      border: none;
      padding: .5em 4em;
      background-color: var(--primary-color);
      color: #fff !important;
      transition: all 0.5s ease, color 1s ease;
      font-size: calc(.7rem + 0.3vw);
      border-radius: .7em;
      border: 2px solid transparent;
      cursor: pointer;
      font-family: var(--font-family) !important;
  }
  
  .addAddBtn:hover{
      color: var(--primary-color) !important;
      border: 2px solid var(--primary-color) !important;
  }

.cancel{
    width: 25vh;
    max-width: 35em;
    border: none;
    padding: .5em 4em;
    background-color: transparent;
    color: #fff !important;
    transition: background-color 0.5s ease, color 1s ease;
    font-size: calc(.7rem + 0.3vw);
    border-radius: .7em;
    border: 2px solid #fff;
    font-family: var(--font-family) !important;
  }
  
  .cancel:hover{
    color: var(--secondary-color) !important;
    border: 2px solid var(--secondary-color) !important;
  }
  
  
  .cancelmob{
    width: 35vh;
    max-width: 35em;
    border: none;
    display: none;
    padding: .5em 4em;
    background-color: transparent;
    color: #fff !important;
    transition: background-color 0.5s ease, color 1s ease;
    font-size: calc(.7rem + 0.3vw);
    border-radius: .7em;
    border: 2px solid #fff;
    font-family: var(--font-family) !important;
  }

.label{
    width: 4em;
    padding-right: .5em;
}

.inputsContainer{
    width: 100%;
    display: grid;
    grid-template-columns:  48.5% 48.5%;
    column-gap: 3%;
}
.closebtn{
    display: none;
    position: absolute;
    top: -23px;
    right: -23px;
    color: #111;
}
.addtocart{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin:  0;
    font-size: calc(.8rem + .3vw);
}
.deleteBtn{
    width: 2.5em;
    height: 2.5em;
    background-color: var(--primary-color);
    color: #DED8CC;
    border-radius: .5em;
    text-align: center;
    border: none;
    font-size: calc(.6rem + .2vw);
    cursor: pointer;
    transition: all 0.5s ease, color 1s ease;
    margin: 0 auto 0 auto;
    }
    
    .deleteBtn:hover{
        transform: scale(1.2);
    }
    .editBtn{
        width: fit-content;
        height: fit-content;
        padding-top: .4em;
        font-weight: 500;
        font-size: calc(.9rem + .3vw);
        background-color: transparent ;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: all 0.5s ease, color 1s ease;
        margin: 0 auto;
        text-align: center;
        }
        
        .editBtn:hover{
            transform: scale(1.2);
        }
        .inputt{
            height: 3em;
            background-color: #fff;
            color: var(--secondary-color);
            border: none;
            font-family: var(--font-family);
        }

@media screen and (max-width:950px) {
    .nodata{
      flex-direction: column;
    }
    .nodata h1{
      text-align: center;
    }
    
    .header{
        margin-bottom: 1em;
    }
    .inputsContainer{
        display: flex;
        flex-direction: column;
        column-gap: 3%;
    }
    .adressCardContainer{
        grid-template-columns: repeat(2, 48%);
    }
    
.addAddBtn{
    width: 100% !important;
}
    
  .cancel {
    width: 100%;
    display: none;
  }
  .cancelmob {
    width: 100%;
    display: flex;
    margin-top: 1em;
  }
}
@media screen and (max-width:700px) {
    .addtocart{
        display: flex;
        flex-wrap: wrap;
        gap: .5em;
        margin: 0 0 auto 0;
    }
    .adressCardContainer{
        grid-template-columns: 1fr;
        row-gap: 1em;
    }
}

@media screen and (max-width:600px) {
    
    .inputt{
        height: 2.3em;
        border: none;
    }
}