.App {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-image: url(./assets/FooterBG.png);
  background-repeat: no-repeat;
  background-position: left bottom ;
  background-size: cover; */
  
  background-image: url(./assets/HomePageBG.svg);
  background-repeat: no-repeat;
  background-position: right top -10em;
  background-size: contain;
  margin: 0 auto;
  max-width: 1900px;
  overflow: hidden;
}
:root {
  --primary-color: #E97704; 
  --secondary-color: #212A53; 
  /* --accent-color: rgba(127, 155, 201, 0.15); */
  --accent-color: #ECF0F7;
  --font-family: Raleway;  
}

/* Target all Ant Design input components */
/* .ant-input is a class used by Ant Design for input components */


.swiper-pagination {
  margin-left: -20%; /* Move left by 20px */
}

@media screen and (max-width: 950px) {
  .swiper-pagination {
    margin-left: -10%; /* Move left by 20px */
  }
  .App{
    background-image: url(./assets/HomePageBGmob.svg);
    background-position: right top ;
  }
}
  @media screen and (max-width: 750px) {
    .swiper-pagination {
      margin-left: 0%; /* Move left by 20px */
    }
  }

  .ant-input {
    background: #E7E7E7;
  }